---
customer:
    wishlists:
        limit:20
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{lang 'forbidden.page_heading'}}</h1>
<main class="page">
    <section class="page-content page-content--centered">
        <p class="u-textAlignCenter">
            {{lang 'forbidden.if_you_were_signed_in'}}
            <a href="{{urls.auth.login}}">{{lang 'forbidden.sign_in'}}</a>
            {{lang 'forbidden.to_continue'}}
        </p>
        {{> components/common/search-box}}
    </section>
</main>

{{/partial}}
{{> layout/base}}
