---
customer:
    wishlists:
        limit:20
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
<main class="page">
    <section class="page-content page-content--centered">
        <p class="u-textAlignCenter">
            {{lang 'page_not_found.message'}}
        </p>

        {{> components/common/search-box}}
    </section>
</main>

{{/partial}}
{{> layout/base}}
