---
customer:
    wishlists:
        limit:20
---
{{#partial "page"}}

<main class="page">
    <section class="page-content page-content--centered">
        <p class="u-textAlignCenter">
            {{lang 'server_error.message'}}
        </p>
    </section>
</main>

{{/partial}}
{{> layout/base}}
