---
customer:
    wishlists:
        limit:20
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{lang 'gift_certificate.heading' }}</h1>
{{> components/gift-certificate/navigation gift_page='redeem'}}

<main class="account account--fixed">
    <h3 class="block-title">{{lang 'gift_certificate.redeem.heading'}}</h3>
    <p><strong>{{lang 'gift_certificate.redeem.intro' store_name=settings.store_name }}</strong></p>
    <ol class="list-with-arrow">
        <li>{{lang 'gift_certificate.redeem.item1' }}</li>
        <li>{{lang 'gift_certificate.redeem.item2' }}</li>
        <li>{{{lang 'gift_certificate.redeem.item3' cart_url=urls.cart }}}</li>
        <li>{{lang 'gift_certificate.redeem.item4' }}</li>
    </ol>
</main>
{{/partial}}
{{> layout/base}}
