<div class="body {{#if carousel.slides}}header-top-shadow{{/if}}"  data-currency-code="{{currency_selector.active_currency_code}}">
    {{#block "hero"}} {{/block}}
    {{#block "category-des"}} {{/block}}
    <div class="container">
        {{#block "page"}} {{/block}}
    </div>
    {{> components/common/modal}}
    {{> components/common/alert-modal}}    
</div>
