<footer class="footer" role="contentinfo">
    <a class="page-scroll-top" title="Click to Top" style="display:none;"><i class="icon-arrow-1-up"></i></a>

    {{#if page_type '===' 'category'}}
    <style>
        .pagination-list {
            display: none;
        }
    </style>
    {{/if}}
{{#if theme_settings.show_usp '>=' 1}}
      {{#if theme_settings.servicesSection '==' "ServiceStyle1"}}
          {{#if theme_settings.servicesPosition '==' "bottomServicesection"}}
            {{#if page_type '==' 'default'}}
              {{> components/common/service-section }}
            {{/if}}
          {{/if}}

          {{#and (if theme_settings.servicesFooter '==' "bottomServicesection")  (if page_type '!=' 'default')}}
              {{#if page_type '!=' 'product'}}
                <div class="usp-footer">
                  {{> components/common/service-section }}
                </div>
              {{/if}}
          {{/and}}


          {{#if page_type '!=' 'default'}}
              {{> components/common/service-section }}
          {{/if}}
        {{/if}}

        {{#if theme_settings.servicesSection '==' "ServiceStyle2"}}
            {{#if theme_settings.servicesPosition '==' "bottomServicesection"}}
              {{#if page_type '==' 'default'}}
                {{> components/common/service-section-blue }}
              {{/if}}
            {{/if}}

            {{#and (if theme_settings.servicesFooter '==' "bottomServicesection")  (if page_type '!=' 'default')}}
                {{#if page_type '!=' 'product'}}
                  <div class="usp-footer">
                    {{> components/common/service-section-blue }}
                  </div>
                {{/if}}
            {{/and}}

            {{#if page_type '!=' 'default'}}
                {{> components/common/service-section-blue }}
            {{/if}}
          {{/if}}
{{/if}}


  <div class="footer-navigation-block">
    <div class="container">

      <!-- Instagrams Section -->
      {{#if theme_settings.show_instaram}}
        {{#if theme_settings.instagramSection "==" "instagramSectionStyle1"}}
            {{#if page_type '==' 'default'}}
                {{> components/common/instagram }}
            {{/if}}

            {{#if theme_settings.Inner_page_Instagram '==' "yes"}}
              {{#if page_type '!=' 'default'}}
                  {{> components/common/instagram }}
              {{/if}}
            {{/if}}
        {{/if}}
      {{/if}}


      <div class="custom-row">
          <div class="column xxlarge-3 large-3 medium-12 newsletter-form">
          <article class="" data-section-type="newsletterSubscription">
              {{#if settings.show_newsletter_box}}
                  {{> components/common/subscription-form}}
              {{/if}}
          </article>
          <article class="footer-col clearfix social-block {{#if theme_settings.socialconColor '==' 'White'}}white-color         {{else if theme_settings.socialconColor '==' 'Black'}}black-color{{else if theme_settings.socialconColor '==' 'Color'}}color{{/if}}">
              {{> components/common/social-links}}
          </article>
          {{#if theme_settings.geotrust_ssl_common_name}}
              <div class="footer-geotrust-ssl-seal">
                  {{> components/common/geotrust-ssl-seal}}
              </div>
          {{/if}}
        </div>


        <div class="column xlarge-6 large-2 medium-3">
          <article class="footer-col" data-section-type="footer-webPages">
              <div class="deals-cont">
                  <a href="#"><span class="arrow">›</span> Company Info</a>
                  <a href="#"><span class="arrow">›</span> Customer Care</a>
                  
                  {{> components/common/payment-icons}}
              </div>
          </article>
        </div>

        <!--<div class="column xxlarge-3 large-2 medium-3">-->
        <!--  <article class="footer-col" data-section-type="footer-categories">-->
        <!--      <h5 class="footer-info-heading footer-toggle-title">{{lang 'footer.categories'}}-->
        <!--        <i class="icon-arrow-1-down"></i>-->
        <!--      </h5>-->
        <!--      <div class="footer-toggle-content">-->
        <!--        <ul class="footer-info-list">-->
        <!--          {{#each categories}}-->
        <!--            {{#if @index '<' '5' }}-->
        <!--              <li>-->
        <!--                  <a href="{{url}}">{{name}}</a>-->
        <!--              </li>-->
        <!--            {{/if}}-->
        <!--          {{/each}}-->
        <!--          <li class="last-list">-->
        <!--              <a href="/categories">{{lang 'common.view_all'}}</a>-->
        <!--          </li>-->
        <!--        </ul>-->
        <!--      </div>-->
        <!--  </article>-->
        <!--</div>-->

        {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
        <div class="column xxlarge-2 large-2 medium-3">
          <article class="footer-col" data-section-type="footer-brands">
              <h5 class="footer-info-heading footer-toggle-title">{{lang 'footer.brands'}}
                <i class="icon-arrow-1-down"></i>
              </h5>
              <div class="footer-toggle-content">
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                        {{#if @index '<' '5' }}
                          <li>
                              <a href="{{url}}">{{name}}</a>
                          </li>
                        {{/if}}
                    {{/each}}
                    <li class="last-list"><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
              </div>
          </article>
        </div>
        {{/and}}
        <div class="column xxlarge-3 large-3 medium-3 footer-store-info-block">
          <article class="footer-col" data-section-type="storeInfo">
            <a href="/contact" class="footer-btn">Contact Us</a>
            <p><strong>Orders:</strong> <a href="tel:+18008821707">(800) 882-1707</a></p>
            <p><strong>Retail:</strong> <a href="tel:+19074244304 ">(907) 424-4304</a></p>
            <p>
                <strong>Address:</strong><br>
                Copper River Fleece<br>
                P.O. Box 1294<br>
                Cordova, AK 99574
            </p>
          </article>
        </div>
        
      </div>
    </section>
    </div>
  </div>
  <div class="footer-bottom-block">
    <div class="container">
      <div class="footer-bottom-block-inn">
        <div class="custome-row clearfix">
          <div class="columns large-4 medium-4 store_credit">
            {{#if theme_settings.show_copyright_footer}}
                <div class="footer-copyright psdcenter_cop">
                    <p class="powered-by"><span class="theme-primary-color"> &copy; {{moment format="YYYY"}} {{settings.store_name}}</span></p>
                </div>
            {{/if}}
            {{#if theme_settings.show_powered_by_bigcommerce}}
              <div class="footer-copyright bigCommerce_cop">
                <p class="powered-by">Powered by <a href="https://www.bigcommerce.com/?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow" target="_blank">BigCommerce</a></p>
              </div>
            {{/if}}
          </div>
          <div class="columns large-4 medium-4">
               
          </div>
          <div class="columns large-4 medium-4">
            {{#if theme_settings.show_powered_by}}
                <div class="footer-copyright powerby-right">
                    <p class="powered-by">Premium BigCommerce Stencil Theme by <a href="https://themes.psdcenter.com/?utm_source=milanoTheme&utm_medium=themebyPSD" rel="nofollow" target="_blank">PSDCenter</a></p>
                </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
