{{#if theme_settings.EnablePencilBanner}}
  {{#or theme_settings.Pencilbannercontain theme_settings.Pencilbannercontain }}
    <div class="pencil-banner" style="display:none;">
      <div class="container">
        {{#if theme_settings.Pencilbannercontain}}
        <span class="banner-contain">
            <a href="#" class="arrow-btn"><span class="arrow">›</span> Corporate</a> <a href="#" class="arrow-btn"><span class="arrow">›</span> Wholesale</a> <a href="#" class="arrow-btn"><span class="arrow">›</span> Gift Cards</a>
         
        {{/if}}
        </span>
        <a class="control-close-btn blue-close" href="javascript:void(0);"><i class="icon-close"></i></a>
      </div>
      <a class="control-close-btn default-close" href="javascript:void(0);"><i class="icon-close"></i></a>
  </div>
  {{/or}}
{{/if}}
