{{#if social_media}}
    <ul class="socialLinks socialLinks--alt">
        {{#each social_media}}
            <li class="socialLinks-item">
                {{#if display_name '===' 'google+'}}
                    <a class="icon--google" href="{{url}}" target="_blank">
                      <span class="social-icon-footer icon-google-plus"><svg class="google-plus-svg"><use xlink:href="#icon-google" /></svg></span>
                    </a>
                {{else}}
                    <a class="icon--{{display_name}}" href="{{url}}" target="_blank">
                      <span class="social-icon-footer icon-{{display_name}}"><svg class="{{display_name}}"><use xlink:href="#icon-{{display_name}}" /></svg></span>
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/if}}
