<h5 class="footer-info-heading">Want to be first to see new styles?</h5>
<form class="form" action="{{urls.subscribe.action}}" method="post" data-error-message="{{lang 'newsletter.newsletter_error'}}">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field-custom">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
            <div class="form-prefixPostfix wrap subscribeFormContent">
                <input class="form-input" required id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
                <button class="button" type="submit" name="button"><i class="icon-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </fieldset>
</form>
<p>Your privacy is our priority.<br/>
We won't ever share your email.</p>
