---
blog:
    posts:
        limit: 3
        pages: 3
        summary: 200
customer:
    wishlists:
        limit:10
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{ blog.name }}</h1>
<main class="page">
  <div class="columns">

    {{#if settings.blog_enabled}}
      {{#each blog.posts}}
          {{> components/blog/post settings=../settings post=this postURL=(encodeURI url)}}
      {{/each}}
      {{> components/common/paginator pagination.blog}}
    {{else}}
      <p class="t-c common-text">blogs are not published here</p>
    {{/if}}
  </div>
</main>

{{/partial}}
{{> layout/base}}
