---
brands:
customer:
    wishlists:
        limit:10
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<div class="container">
    <h1 class="page-heading">{{lang 'brand.label'}}</h1>
    <div class="m-b-20">
      {{> components/common/paginator pagination.brands}}
    </div>

    {{#if theme_settings.BrandsStyle '==' 'GridView'}}
    <ul class="brandGrid">
        {{#each brands}}
            <li class="brand">
                <article class="card {{#if alternate}}card--alternate{{/if}}">
                    <figure class="card-figure-custom">
                        <a href="{{url}}">
                            <div class="card-img-container-custom">
                                <img class="card-image-custom lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'brand_size' (cdn ../theme_settings.default_image_brand)}}" alt="{{name}}" title="{{name}}">
                            </div>
                        </a>
                    </figure>
                    <div class="card-body-custom">
                      <div class="card-text">
                        <h4 class="card-title">
                            <a href="{{url}}">{{name}}</a>
                        </h4>
                      </div>
                    </div>
                </article>
            </li>
        {{/each}}
    </ul>
    {{else}}
    <ul class="brandGrid">
      {{#each brands}}
            <li class="column xlarge-3 large-4 mob-large-6 mob-mid-6 mob-small-6 small-12">
              <h4 class="card-title">
                  <a href="{{url}}">{{name}}</a>
              </h4>
          </li>
      {{/each}}
    </ul>
    {{/if}}
    {{> components/common/paginator pagination.brands}}
</div>
{{/partial}}
{{> layout/base}}
