---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: 5
customer:
    wishlists:
        limit:10
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows}}
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full">

  <!-- Home Top Banner -->

  {{#if banners.top}}
  <div class="banners home-top-banner" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
        <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
      </div>
    {{/each}}
  </div>
  {{/if}}

  <!-- USP Section -->
{{#if theme_settings.show_usp '!=' 0}}
  {{#if theme_settings.servicesSection '==' "ServiceStyle1"}}
    {{#if theme_settings.servicesPosition '==' "topServicesection"}}
      {{#if page_type '==' 'default'}}
        {{> components/common/service-section }}
      {{/if}}
    {{/if}}
  {{/if}}
  {{/if}}

{{#if theme_settings.show_usp '!=' 0}}
  {{#if theme_settings.servicesSection '==' "ServiceStyle2"}}
    {{#if theme_settings.servicesPosition '==' "topServicesection"}}
      {{#if page_type '==' 'default'}}
        {{> components/common/service-section-blue }}
      {{/if}}
    {{/if}}
  {{/if}}
  {{/if}}

  <!-- Home promotional banner Section -->

    {{#if theme_settings.homeTopbannerStyle '==' "homeTopbannerStyle1"}}
      {{> components/homeTopbanner}}
    {{/if}}


    {{#if theme_settings.homeTopbannerStyle '==' "homeTopbannerStyle2"}}
      {{> components/homeTopbannerBlue}}
    {{/if}}


    <!-- Product Section -->

    <div class="product-section m-b-50 m-t-50">
      <!-- Featured Product Section -->

      {{#if products.featured}}
      <div class="home-featured-product m-b-50">
        {{#if products.featured}}
            {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
        {{/if}}
      </div>
      {{/if}}

      <!-- Top Product Section -->

      {{#if products.top_sellers}}
      <div class="home-top-product m-b-50">
        {{#if products.top_sellers}}
            {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
        {{/if}}
      </div>
      {{/if}}

      <!-- New Product Section -->

      {{#if products.new}}
      <div class="home-new-product m-b-50">
        {{#if products.new}}
            {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
        {{/if}}
      </div>
      {{/if}}
    </div>

    <!-- About Us Section -->

    {{#if settings.data_tag_enabled}}
        <div class="banners home-bottom-banner" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners home-bottom-banner" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

    <!-- Blog Post Section -->

    {{#if settings.blog_enabled}}
        {{> components/common/homeblogsection }}
    {{/if}}

    <!-- Instagram Section -->
    {{#if theme_settings.show_instaram}}
        {{#if theme_settings.instagramSection "==" "instagramSectionStyle2"}}
              {{> components/common/instagram1 }}
        {{/if}}
    {{/if}}

</div>
<a class="page-scroll-top" title="Click to Top" style="display:none;"><i class="icon-arrow-1-up"></i></a>
{{/partial}}
{{> layout/base}}
