---
customer:
    wishlists:
        limit:20
---

{{#partial "page"}}

<section class="page">
    <div class="page-content page-content--centered">
      <div class="section-title">
        <h1 class="page-heading">
            {{#if subscription.error}}
                {{lang 'newsletter.subscribed_heading_error'}}
            {{else}}
                {{lang 'newsletter.subscribed_heading'}}
            {{/if}}
        </h1>
      </div>
        {{#if subscription.error}}
            {{> components/common/alert-error subscription.error}}
        {{else}}
            {{> components/common/alert-success (lang 'newsletter.subscribed_message')}}
        {{/if}}

    </div>
</section>

{{/partial}}
{{> layout/base}}
