
---
customer:
    wishlists:
        limit:20
---

{{#partial "page"}}

<section class="page">
    <div class="page-content page-content--centered">
      <div class="section-title">
        <h1 class="page-heading">{{lang 'newsletter.unsubscribed_heading'}}</h1>
      </div>
        {{> components/common/alert-success (lang 'newsletter.unsubscribed_message' store_name=settings.store_name)}}
    </div>
</section>

{{/partial}}
{{> layout/base}}
