// =============================================================================
// CARDS (CSS)
// =============================================================================
//
// 1. Allow users to click the anchor tag on the image in the figcaption empty
//    space. This provides a much larger and simpler hit state for navigating
//    to the product details page. (Does not work in IE10 or earlier).
// 2. Using translate3d to counter a chrome specific bug: When using a masonry
//    styled layout via CSS column-count etc, transforms applied to descendants
//    are made invisible, except for 3d transforms...
//
// -----------------------------------------------------------------------------

.card{
  &:hover {
      // scss-lint:disable NestingDepth
      .card-figcaption {
          opacity: 1;
      }
  }
}

.card-figure {
    margin-top: $card-figure-marginTop;
    position: relative;
}

.card-img-container {
    max-width: 100%;

    @include lazy-loaded-padding('productgallery_size');
}

.card-figcaption {
    display: none;
    margin: $card-figcaption-margin;
    pointer-events: none; // 1

    @include breakpoint("medium") {
        display: block;
    }
}

.card-figcaption-body {
    display: $card-figcaption-body-display;
    pointer-events: all; // 1
    transform: translate3d(0, -50%, 0); // 2
}

.card-image {
    @include lazy-loaded-img;
    border: 0;
    width: auto;
    max-height: 100%;
}

.card-title {
    font-size: $card-title-fontSize;
    margin: $card-title-margin;

    > a {
        color: $card-title-color;
        text-decoration: $card-title-textDecoration;
        font-weight: 500;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $card-title-color-hover;
        }
    }
}

.card-text {
    margin-bottom: $card-text-marginBottom;
    @include breakpoint(mob-small down){
      line-height: 18px;
    }

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}

.card-figcaption-button {
    border: $card-figcaption-button-border;
    display: $card-figcaption-button-display;
    margin: $card-figcaption-button-margin;

    &:active {
        background-color: $card-figcaption-button-backgroundHover;
        border: $card-figcaption-button-border;
    }

    + .card-figcaption-button {
        margin: $card-figcaption-button-margin;
    }
}

.card-body {
    text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }
}

.milano-layout--Blue{
  .card-title > a{
    font-weight: 400;
  }
}


// Card Css --------------------------------------------------------------------
/* ==:: Card Css START ::== */

.card {
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
    padding-bottom: 0px;
    outline: none;
    height: 100%;
    .card-inner{
      height: 100%;
    }
    .card-figure{
      background: $theme-product-bg-grey-color;
      margin-top: 30px;
      margin-bottom: 10px;
       @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
         background: none;
       }
       @supports (-ms-ime-align:auto) {
         background: none;
       }
      @include breakpoint(large down) {
        margin-top: 20px;
      }
      a{
        display: block;
        .card-img-container{
          padding: 10px;
        }
      }
      .item-1{
        opacity: 0;
        -webkit-transition: all 700ms;
        -moz-transition: all 700ms;
        -ms-transition: all 700ms;
        -o-transition: all 700ms;
        transition: all 700ms;
        @include breakpoint(large down){
          display: none;
        }
      }
      .card-image{
        mix-blend-mode: darken;
        -webkit-transition: all 700ms;
        -moz-transition: all 700ms;
        -ms-transition: all 700ms;
        -o-transition: all 700ms;
        transition: all 700ms;
        @include breakpoint(large down){
          transition: none;
        }
      }
      .card-figcaption-body {
        top: 60%;
        left: 50%;
        right: auto;
        display: inline-block;
        pointer-events: all;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        @include breakpoint (large down){
          display: none;
        }
        .quickview, .compare{
          padding: 15px;
          min-width: 134px;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 12px;
          letter-spacing: 1px;
          border: none;
          color: $theme-black-color;
          line-height: normal;
          background: $theme-white-color;
          &:hover{
            background: $theme-black-color;
            color: $theme-white-color;
          }
        }
        .compare-active{
          .compare{
            background: $theme-black-color;
            color: $theme-white-color;
          }
        }
        .compare{
          margin:10px 0px 0px 0px;
          .compare-box{
            display: none;
          }
        }
      }
    }
  .card-body{
    text-align: center;
    position: relative;
    padding: 0px;
    .card-reting-price{
      .card-price{
        width: 70%;
        float: left;
        text-align: left;
        @include breakpoint(large down){
          width: 60%;
        }
        @include breakpoint(medium down){
          width: 100%;
          text-align: center;
        }
      }
      .card-rate{
        width: 30%;
        float: right;
        text-align: right;
        @include breakpoint(large down){
          width: 40%;
        }
        @include breakpoint(medium down){
          width: 100%;
          text-align: center;
          margin-top: 10px;
        }
        @include breakpoint(mob-small down){
          margin-top: 5px;
        }
      }
    }
    .card-price{
      .price-section{
        font-size: 13px;
        opacity: 1;
        visibility: visible;
        display: inline-block;
        vertical-align: middle;
        margin-right: 2px;
        @include breakpoint(medium down) {
          font-size: 12px;
          line-height: 18px;
        }
        .price.price--rrp{
          vertical-align: top;
        }
        .price--withoutTax{
          color: $stencil-primary-color;
        }
        .price-now-label{
          display: none;
        }
      }
    }
    .card-summary{
      display: none;
    }
    .card-title{
      font-size: 14px;
      font-weight: 600;
      margin: 0px;
      line-height: 17px;
      display: block;
    }
    .card-rate{
      margin-bottom: 2px;
    }
    .rating--small{
      font-size: 11px;
      .icon-star{
        color: $icon-ratingEmpty; 
      }
      .icon-star1{
        color: $icon-ratingFull;
      }
    }
    .card-btn{
      font-size: 13px;
      margin: 0;
      border: 0;
      padding: 0 8px 0 8px;
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -ms-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
      left: 50%;
      top: 70%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      opacity: 0;
      visibility: hidden;
      text-align: center;
      width: 100%;
      @include breakpoint (large down){
        opacity: 1;
        visibility: visible;
        top: auto;
        display: block;
        position: static;
        right: auto;
        transform: none;
        margin-top: 10px;
      }
      a{
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        font-weight: 700;
        background: none;
        font-size: 14px;
        margin: 0;
        border: 0;
        padding: 0 15px 0 15px;
        text-transform: uppercase;
        color: $theme-orange-color;
        margin: 0px;
        @include breakpoint (large down){
          border: 1px solid $theme-primary-color;
          padding: 8px 13px;
          line-height: 16px;
          font-weight: 400;
          font-size: 13px;
          &:hover{
            background: $theme-primary-color;
            color: $theme-white-color !important;
          }
        }
        @include breakpoint (small down){
          font-size: 11px;
          padding: 5px 10px;
        }
        &:hover{
          color: $theme-black-color;
        }
      }
    }
  }
  &:hover{
    .card-figure{
      .item-0{
        opacity: 0;
        @include breakpoint(large down){
          opacity: 1;
          visibility: visible;
        }
      }
      .item-1{
        opacity: 1;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
        @include breakpoint(large down){
          display: none;
        }
      }
    }
    .card-figcaption{
      background: rgba(0,0,0,0.1);
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -ms-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
    }
    .card-figcaption-body {
      opacity: 1;
      visibility: visible;
      top: 50%;
      .quickview{
        opacity: 1;
        visibility: visible;
      }
    }

    .card-btn{
      opacity: 1;
      visibility: visible;
      top: 90%;
      @include breakpoint (large down){
        top: 100%;
        display: block;
      }
    }
    .card-price{
      .price-section{
        opacity: 0;
        visibility: hidden;
        @include breakpoint (large down){
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

// ==: Blue Variant Card :== //

.milano-layout--Blue {
  &.type-default{
    .card{
      margin-bottom: 50px;
      @include breakpoint(large down){
        margin-bottom: 0px;
      }
    }
  }
  .product{
    overflow: visible;
  }
  .card{
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    .card-inner{
      height: 100%;
      border: 1px solid $theme-card-border-color;
      padding: 5px;
      position: relative;
      -moz-transition: border 0.35s linear;
      -webkit-transition: border 0.35s linear;
      -ms-transition: border 0.35s linear;
      -o-transition: border 0.35s linear;
      transition: border 0.35s linear;
      &:after{
        content: '';
        background: $theme-white-color;
        width: 100%;
        display: block;
        z-index: -1;
        border: 1px solid $stencil-primary-color;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        -moz-transition: all 0.35s ease 0s;
        -webkit-transition: all 0.35s ease 0s;
        -ms-transition: all 0.35s ease 0s;
        -o-transition: all 0.35s ease 0s;
        transition: all 0.35s ease 0s;
        -moz-transform-origin: bottom;
        -o-transform-origin: bottom;
        -ms-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 0;
        @include breakpoint(large down){
          display: none;
        }
      }
    }
    .card-figure{
      margin: 0px;
      background: none;
      .card-image{
        mix-blend-mode:normal;
        background: none;
      }
    }
    .card-body{
      padding: 20px;
      height: auto !important;
      position: unset;
      padding-bottom: 0px;
      @include breakpoint(large down){
        padding: 10px;
      }
      @include breakpoint(small down){
        padding: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
      }
      .card-btn{
        visibility: hidden;
        top: auto;
        transition: all 0.5s ease;
        text-align: center;
        padding: 0 0 10px 0;
        border-top: none;
        width: auto;
        z-index: -1;
        position: absolute;
        display: block;
        left: 0px;
        right: 0px;
        bottom: -5%;
        -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
        opacity: 0;
        @include breakpoint(large down){
          opacity: 1;
          visibility: visible;
          bottom: auto;
          display: block;
          top: auto;
          transform: none;
          padding: 0;
          position: inherit;
        }
        @include breakpoint(small down){
          padding: 0 5px;
        }
        a{
          padding: 10px 13px;
          background: $stencil-primary-color;
          color: $theme-white-color;
          @include breakpoint(large down){
            margin-top: 0px;
            padding: 8px 13px;
          }
          @include breakpoint(small down){
            padding: 5px 9px;
            font-size: 10px;
          }
        }
      }
      .card-title{
        margin-top: 17px;
        margin-bottom: 23px;
        line-height: 22px;
        @include breakpoint(medium down){
          margin-top: 10px;
          margin-bottom: 15px;
        }
        @include breakpoint(small down){
          margin-top: 0px;
          margin-bottom: 10px;
        }
      }
    }
    .card-price{
      .price-section{
        font-size: 18px;
        color: $stencil-primary-color;
        margin-right: 4px;
        @include breakpoint(small down){
          margin-right: 2px;
          font-size: 14px;
        }
        .price.price--rrp, .price.price--non-sale{
          font-size: 15px;
          vertical-align: bottom;
          margin-right: 0px;
          color: $theme-price-color;
          font-weight: 400;
          line-height: 26px;
          @include breakpoint(small down){
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
      .price-section.non-sale-price---withTax{
        margin-right: 0px;
      }
    }

    &:hover{
      z-index: 5;
      background: $theme-white-color;
      .card-inner{
        height: 100%;
        border: 1px solid transparent;
        margin-bottom: 0;
        transition: padding 0.3s ease;
        -moz-transition: border 0.2s linear;
        -webkit-transition: border 0.2s linear;
        -ms-transition: border 0.2s linear;
        -o-transition: border 0.2s linear;
        transition: border 0.2s linear;
        @include breakpoint(large down){
          padding-bottom: 5px;
          border: 1px solid $stencil-primary-color;
        }
        &:after{
          -moz-transform: rotateX(0);
          -webkit-transform: rotateX(0);
          -o-transform: rotateX(0);
          -ms-transform: rotateX(0);
          transform: rotateX(0);
          opacity: 1;
          bottom: -9.5%;
          @include breakpoint(large down){
            bottom: 0;
          }
        }
      }
      .card-figure{
        .card-image{
          mix-blend-mode: normal;
        }
      }
      .card-figcaption{
        background: none;
      }
      .card-price{
        .price-section{
          opacity: 1;
          visibility: visible;
        }
      }
      .card-body{
        .card-btn{
          opacity: 1;
          visibility: visible;
          bottom: 0px;
          top: auto;
          transition: all 0.5s ease;
          -webkit-transform: translate(0, 0px);
          -ms-transform: translate(0, 0px);
          -o-transform: translate(0, 0px);
          transform: translate(0, 0px);
          bottom: -30px;
          z-index: 20;
          a{
            &:hover{
              background: $theme-black-color;
            }
          }
        }
        .card-title{
          opacity: 1;
          visibility: visible;
          transition: none;
        }
      }
    }
  }
}
/* ==:: card css END ::== */


//
// Alternate card
//
// Purpose: Used to give the card alternative styling
// -----------------------------------------------------------------------------


.touch-device{
  .card-figcaption{
    display: none;
  }
  .card{
    .card-body{
      padding: 0px;
      .card-btn{
        opacity: 1;
        visibility: visible;
        top: auto;
        display: block;
        // position: static;
        right: auto;
        -webkit-transform: none;
        transform: none;
        a{
          border: 1px solid $stencil-primary-color;
          // padding: 8px 8px;
          line-height: 15px;
          margin-top: 0px;
          font-weight: 400;
          font-size: 11px;
        }
      }
      .card-price{
        .price-section{
          opacity: 1;
          visibility: visible;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

}
.milano-layout--Blue.touch-device{
  .card{
    &:hover{
      .card-inner{
        &:after{
          display: none;
        }
      }
    }
  }
  .card{
    .card-body{
      padding: 10px 5px;
      .card-btn{
       opacity: 1;
       visibility: visible;
       bottom: auto;
       display: block;
       top: auto;
       transform: none;
       padding: 0;
       position: inherit;
     }
    }
  }
}
