<div class="form-field custom-input-checkbox" data-product-attribute="input-checkbox">
    <label class="form-label form-label--alternate form-label--inlineSmall">
        {{display_name}}:

        {{#if required}}
            <small>{{lang 'common.required'}}</small>
        {{/if}}
    </label>

    <input type="hidden" name="attribute[{{id}}]" value="{{noValue}}" />
    <input
        class="form-checkbox"
        type="checkbox"
        name="attribute[{{id}}]"
        id="attribute-check-{{id}}"
        value="{{value}}"
        {{#if checked}}
            checked
            data-default
        {{/if}}
        {{#if required}}required{{/if}}>

    <label class="form-label {{class}}" for="attribute-check-{{id}}">{{label}}</label>
</div>
