// =======================================================================
// 1.  CookieMessage
// 2.  HomePage Carousel
// 3.  USP Section
// 4.  HomePage Top Banner
// 5.  Product Section
// 6.  Card > (components/cards/_cards.scss)
// 7.  Aboutus Section
// 8.  Blog Section
// 9.  Instagram Section
// 10. Category Page
// 11. Product Detail > (components/layout/products/_productView.scss), (components/stencil/productsView/_productView.scss)
// 12. Search Page
// 13. Brand Page
// 14. Cart Page > (components/stencil/cart/_cart.scss)
// 15. Login Page
// 16. Create Account Page
// 17. Wishlist Page
// 18. Account Page
// 19. Address Page
// 20. Gift-certificate Page
// =======================================================================


// CookieMessage css -------------------------------------------------------
/* ==:: CookieMessage START ::== */

.cookieMessage{
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  background: rgba($theme-black-color, 0.5);
  .cookieMessage-container{
    width: 100%;
    @include breakpoint(medium down){
      padding: 15px 10px;
    }
  }
  .cookieMessage-text{
    width: auto;
    display: inline-block;vertical-align: middle;
    margin: 0px;
    color: $theme-white-color;
    p{
      margin: 0px;
      @include breakpoint(medium down){
        margin-bottom: 10px;
        line-height: 22px;
      }
    }
  }
  .button.button--primary{
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    @include breakpoint(medium down){
      padding: 8px 18px;
    }
  }
}
/* ==:: CookieMessage END ::== */

// HomePage Carousel css -------------------------------------------------------
/* ==:: Home Page Carousel START ::== */
.heroCarousel-down-arrow{
  width: 70px;
  height: 35px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  background: $theme-orange-color;
  position: fixed;
  z-index: 1;
  text-align: center;
  line-height: 53px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  @include breakpoint(small down){
    width: 50px;
    height: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    line-height: 40px;
  }
  i{
    font-size: 20px;
    color: $theme-white-color;
    font-weight: bold;
    @include breakpoint(small down){
      font-size: 16px;
    }
  }
  &:hover{
    background: $theme-white-color;
    i{
      color: $theme-orange-color;
    }
  }
}
.heroCarousel{
  margin-top: 0px;
  @include breakpoint(medium down) {
    margin-bottom: 0px !important;
  }
  @include breakpoint(mob-large down){
    .slick-dots{
          bottom: 0;
          top: inherit;
      li{
        margin: 0 3px; display: inline-block; vertical-align: bottom; height: auto; padding: 0px; width: 20px;
        button{
          height: 5px; width: 20px; border: 1px solid $theme-primary-color; vertical-align: bottom;
          -webkit-transition: all 0.2s ease; transition: all 0.2s ease; border-radius: 0px;
          &:before{
            display: none;
          }
          &:hover{
            background: $theme-primary-color;
          }
        }
        &.slick-active{
          button{
            height: 10px; background: $theme-primary-color;
          }
        }
      }
    }
  }
  .slick-next{
    display: none !important;
  }
 .slick-prev{
   display: none !important;
 }
 .slick-dots{
   top: 50%;
   right: 50px;
   bottom: inherit;
   width: auto;
   text-align: left;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
     @include breakpoint(mob-large down){
       bottom: 10px;
       top: inherit;
       width: 100%;
       right: auto;
       left: auto;
       text-align: center;
       transform:none;
     }
     @supports (-ms-ime-align:auto) {
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
     }
   li{
     background: transparent;
     padding: 0px;
     display: block;
     text-align: right;
     position: relative;
     width: 2.28571rem;
     height: 2.28571rem;
     @include breakpoint(mob-large down){
        margin: 0 3px; display: inline-block; vertical-align: bottom; height: auto; padding: 0px; width: 20px;
        &:after{
          display: none;
        }
     }
     &:after{
      width: 25px;
      height: 2px;
      background-color: $theme-black-color;
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      left: auto;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
         @supports (-ms-ime-align:auto) {
           transition: all 0.2s ease;
           -webkit-transition: all 0.2s ease;
           -moz-transition: all 0.2s ease;
         }
     }
     &:before{
       background: transparent;
     }
     button{
       background: transparent;
       border-radius: 0px;
       border: none;
       font-size: 14px;
       color: $theme-black-color;
       text-align: right;
        vertical-align: middle;
        height: 100%;
          @include breakpoint(mob-large down){
            font-size: 0;
            height: 5px;
            width: 20px;
            border: 1px solid $theme-primary-color;
            vertical-align: bottom;
            transition: all 0.2s ease;
            border-radius: 0px;
          }
       &:hover, &:focus{
         color: $theme-orange-color;
         background: none;
       }
       &:before{
         display: none;
       }
     }
     &:hover{
       &:after{
         background-color: $theme-primary-color;
       }
     }
   }
   li.slick-active{
      &:after{
      width: 45px;
      height: 2px;
      background-color: $theme-orange-color;
      position: absolute;
      content: "";
      left: -12px;
      right: auto;
     }
     button{
       height: 100%;
       color: $theme-orange-color;
       @include breakpoint(mob-large down){
         height: 10px;
         background: $theme-orange-color;
       }
       &:before{
          background: transparent;
       }
     }
   }
 }
}
.product-section{
  .slick-dotted.slick-slider{
      margin-bottom: 30px;
    @include breakpoint(medium down) {
      margin-bottom: 0px;
    }
  }
  .slick-list{
    padding-bottom: 5px;
  }
}
.heroCarousel-wrap{
  .heroCarousel{
    .heroCarousel-content{
      top: 30%;
      display: none;
    }
  }
  .slick-initialized {
    .slick-active{
      .heroCarousel-content{
        display:block;
        top: 48%;
      }
    }
  }
}
.slick-active{
  .animated {
    -webkit-animation-duration : 2s  ;
    animation-duration : 2s  ;

    -webkit-animation-delay : 0.1s  ;
    animation-delay : 0.1s  ;
  }

  @keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInUp {
    animation-name: slideInUp;
  }
  @keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInDown {
    animation-name: slideInDown;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    animation-name: fadeIn;
  }
}
/* ==:: Home Page Carousel END ::== */

// USP css -----------------------------------------------------
/*==:: USP css START ::== */
.usp-footer{
  padding-top: 30px;
  border-top: 1px solid $theme-border-color;
  .service-wrap{
      margin-top: 0px;
  }
  @include breakpoint(mob-large down) {
    padding-top: 20px;
  }
}
.service-wrap{
  text-align: center;
    @include breakpoint(mob-large down) {
      margin-top: 20px;
    }
    @include breakpoint(mob-mid down) {
      margin-bottom: 20px;
    }
    .custom-row{
      font-size: 0;
    }
    .column{
      float: none;
      display: inline-block;
      vertical-align: middle;
    }
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child){
    float:none;
    display: inline-block;
    vertical-align: middle;
  }
  .service-banner-item{
    text-align: center;
    padding:0 10px;
          @include breakpoint(medium down) {
            padding: 5px;
          }
    .service-banner-img-inn{
      height: 48px;
      width: 48px;
      margin: 0 auto;
      @include breakpoint(medium down) {
        height: 35px;
        width: 35px;
      }
    }
    @include breakpoint(small down) {
      padding: 5px;
    }
    .service-banner-img{
      width: 20%;
      text-align: center;
      float: left;
      margin-right: 10px;
      @include breakpoint(xlarge down) {
        width: 25%;
      }
      @include breakpoint(medium down) {
        width: 100%;
        margin: 0px;
      }
    }
    .service-banner-detail{
      text-align: left;
      overflow: hidden;
        @include breakpoint(medium down) {
          overflow: visible;
          text-align: center;
          display: inline-block;
          margin-top: 10px;
        }
      h4{
        margin-bottom: 0px;
        text-transform: capitalize;
        color: $theme-black-color;
        font-weight: $font-weight-500;
          @include breakpoint(medium down) {
            font-size: 14px;
          }
      }
      span{
        color: $theme-title-line-color;
        font-size: 14px;
          @include breakpoint(medium down) {
            font-size: 13px;
          }
      }
    }
  }
  .one{
      .service-banner-item{
          @include breakpoint(medium down) {
            margin-bottom: 10px;
          }
          @include breakpoint(mob-mid down) {
            margin-bottom: 5px;
          }
      }
  }
  .two{
      .service-banner-item{
          @include breakpoint(medium down) {
            margin-bottom: 10px;
          }
          @include breakpoint(mob-mid down) {
            margin-bottom: 5px;
          }
      }
  }
  .three{
      .service-banner-item{
          @include breakpoint(small down) {
            margin-bottom: 5px;
          }
      }
  }
}
.milano-layout--Blue{
    .s-m-t{
      margin-top: 30px;
    }
  .service-wrap{
    margin: 0px;
  }
  .service-banner-item{
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(medium down){
      display: block;
    }
  }
  .one{
    .service-banner-item{
      @include breakpoint(medium down){
        margin-bottom: 0px;
      }
      @include breakpoint(mob-large down){
        margin-bottom: 10px;
      }
    }
  }
  .two{
    .service-banner-item{
      @include breakpoint(medium down){
        margin-bottom: 0px;
      }
      @include breakpoint(mob-large down){
        margin-bottom: 10px;
      }
    }
  }
  .service-wrap{
    .service-banner-item{
      .service-banner-img{
        width: 15%;
        @include breakpoint(large down){
          width: 20%;
          margin-right: 15px;
        }
        @include breakpoint(medium down){
          width: 25%;
          float: none;
          text-align: center;
          margin: 0 auto;
        }
      }
      .service-banner-img-inn{
        width: 36px;
        height: 36px;
      }
    }
  }
}
//== : Blue Variant USP ==: //
.usp-section-blue{
  border-top: 1px solid $theme-light-border-color;
  border-bottom: 1px solid $theme-light-border-color;
  .service-wrap .service-banner-item .service-banner-detail h4{color: $theme-black-light-color; font-size: 16px; font-weight: $font-weight-500;}
  .service-wrap .service-banner-item .service-banner-detail span{color: $theme-primary-light-color;}
  .column {
    .service-banner-item{
    }
  }
  .column {
      &:last-child{
        .service-banner-item{
        border-right: 0px;
      }
    }
  }
  .one{
    @include breakpoint(mob-large down){
      border-right: 1px solid $theme-border-color;
      border-bottom: 1px solid $theme-border-color;
    }
    .service-banner-item{
      @include breakpoint(mob-large down){
        border-bottom: 0px;
        border-right: 0px;
      }
    }
  }
  .two{
    @include breakpoint(mob-large down){
      border-bottom: 1px solid $theme-border-color;
    }
    .service-banner-item{
      @include breakpoint(mob-large down){
        border-bottom: 0px;
        border-right: 0px;
      }
    }
  }
  .three{
    @include breakpoint(mob-large down){
      border-right: 1px solid $theme-border-color;
    }
    .service-banner-item{
      @include breakpoint(mob-large down){
        margin-top: 10px;
        border-bottom: 0px;
        border-right: 0px;
      }
    }
  }
  .four{
    .service-banner-item{
      @include breakpoint(mob-large down){
        margin-top: 10px;
      }
    }
  }
}
/* ==:: USP css END ::== */
// HomePage Top Banner css -----------------------------------------------------
/* ==:: Home Page Top Banner START ::== */
.about-us-section{
  .about-contain-main{
    display: table;
    @include breakpoint(medium down){
      display: block;
      margin: 0 auto;
    }
    .about-contain{
      float: none !important;
      display: table-cell;
      vertical-align: middle;
      @include breakpoint(medium down){
        display: block;
        width: 100%;
      }
    }
  }
}
.milano-layout--Blue{
  .about-us-section{
    margin-bottom: 74px;
    @include breakpoint(large down){
      margin-bottom: 50px;
    }
    @include breakpoint(medium down){
      margin-bottom: 40px;
    }
    @include breakpoint(mob-mid down){
      margin-bottom: 30px;
    }
  }
}
.hometopbanner{
  .banner-2{
    margin-bottom: 35px;
    @include breakpoint(xlarge down) {
      margin-bottom: 30px;
    }
    @include breakpoint(large down) {
      margin-bottom: 24px;
    }
    @include breakpoint(medium down) {
      margin-bottom: 18px;
    }
    @include breakpoint(mob-mid down) {
      margin-bottom: 20px;
    }
    @include breakpoint(small down) {
      margin-bottom: 15px;
    }
  }
  .banner-4, .banner-2{
    @include breakpoint(mob-mid down) {
      margin-top: 20px;
    }
    @include breakpoint(small down) {
      margin-top: 15px;
    }
  }
  .banner-hover{
    @include breakpoint(mob-large down) {
      text-align: center;
    }
  }
}
.about_us_img{
  text-align: center;
}
.about_us_contain{
  @include breakpoint(large down) {
    margin-top: 10px;
  }
  @include breakpoint(medium down) {
    margin-top: 30px;
  }
  @include breakpoint(mob-mid down) {
    margin-top: 30px;
  }
  @include breakpoint(small down){
    margin-top: 20px;
  }
  .section-title{
    text-align: left;
    padding-left: 65px;
    margin-bottom: 15px;
    @include breakpoint(large down) {
      margin-bottom: 5px;
    }
    @include breakpoint(medium down) {
      margin-bottom: 10px;
      padding-left: 0px;
      text-align: center;
    }
  }
  p{
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.025em;
    color: $theme-primary-light-color;
    @include breakpoint(large down) {
      font-size: 13px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
}
.milano-layout--Blue{
  .about_us_contain{
    p{
      font-size: 16px;
      color: $theme-black-light-color;
      @include breakpoint(medium down){
        font-size: 14px;
        line-height: 24px;
      }
    }
    .read-more{
      font-size: 16px;
      @include breakpoint(medium down){
        font-size: 14px;
      }
    }
  }
}
.Home-top-banner-blue{
  margin-left: -7.5px;
  margin-right: -7.5px;
  .banner-1, .banner-2, .banner-3, .banner-4{
    padding: 0 7.5px;
  }
  .banner-1{
    margin-bottom: 15px;
    @include breakpoint(xlarge down){
      margin-bottom: 14px;
    }
    @include breakpoint(medium down){
      margin-bottom: 13px;
    }
    @include breakpoint(mob-large down){
      margin-bottom: 15px;
    }
    @include breakpoint(mob-mid down){
      margin-bottom: 14px;
    }
  }
  .Home-top-banner-left{
    width: calc(100% - 480px);
    @include breakpoint(xlarge down){
      width: calc(100% - 415px);
    }
    @include breakpoint(large down){
      width: calc(100% - 331px);
    }
    @include breakpoint(medium down){
      width: calc(100% - 249px);
    }
    @include breakpoint(mob-large down){
      width: calc(100% - 217px);
    }
    @include breakpoint(mob-mid down){
      width: calc(100% - 183px);
    }
    @include breakpoint(mob-small down){
      width: 100%;
      margin-bottom: 14px;
    }
    float: left;
    .Home-top-banner-left-inn{
      .banner-2, .banner-3{
        width: 50%;
        float: left;
      }
    }
  }
  .Home-top-banner-right{
    width: 480px;
    float: right;
    @include breakpoint(xlarge down){
      width: 415px;
    }
    @include breakpoint(large down){
      width: 331px;
    }
    @include breakpoint(medium down){
      width: 249px;
    }
    @include breakpoint(mob-large down){
      width: 217px;
    }
    @include breakpoint(mob-mid down){
      width: 183px;
    }
    @include breakpoint(mob-small down){
      width: 100%;
    }
  }
}
/* ==:: Home Page Top Banner END  ::== */
// Product Section css -----------------------------------------------------
/* ==:: Product Section START  :==*/
.type-default.milano-layout--Blue{
  .Home-top-banner-blue{
    + .product-section.m-t-50{
        margin-top: 76px;
        @include breakpoint(large down){
          margin-top: 50px;
        }
        @include breakpoint(medium down){
          margin-top: 30px;
        }
      }
  }
  .home-featured-product.m-b-50{
    margin-bottom: 30px;
    @include breakpoint(large down){
      margin-bottom: 40px;
    }
    @include breakpoint(mob-mid down){
      margin-bottom: 30px;
    }
    + .home-bottom-banner{
        .about-us-section{
          margin-top: 79px;
          @include breakpoint(large down){
            margin-top: 30px;
          }
        }
    }
  }
  .home-new-product.m-b-50{
    @include breakpoint(large down){
      margin-bottom: 10px !important;
    }
    @include breakpoint(large down){
      margin-bottom: 40px !important;
    }
    @include breakpoint(mob-mid down){
      margin-bottom: 30px !important;
    }
  }
  .product-section {
      @include breakpoint(mob-large down) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
  }
  .product-section.m-b-50{
    margin-bottom: 10px;
    .home-top-product.m-b-50{
      margin-bottom: 10px;
      @include breakpoint(large down){
        margin-bottom: 40px;
      }
      @include breakpoint(mob-mid down){
        margin-bottom: 30px;
      }
    }
    .home-new-product.m-b-50{
      margin-bottom: 20px;
    }
  }
}
.related-mobile{
  display: none;
  @include breakpoint(medium down){
    display: block;
  }
}
.related-desktop{
  border: 1px solid $theme-border-color;
  @include breakpoint(medium down){
    display: none;
  }
  h2{
    font-size: 18px;
    background: $theme-light-grey-color;
    padding: 15px 20px;
    margin: 0;
    line-height: 20px;
  }
}
.related-product-inn{
  .sale-flag-side{
    display: none;
  }
  .card{
    padding: 7px 0;
    border-top: 1px solid $theme-border-color;
    margin: 0 7px !important;
    &:hover{
      .price-section{
        visibility: visible !important;
        opacity: 1 !important;
      }
    }
  }
  .product-card{
    &:first-child{
      .card{
        border-top: 0px;
      }
    }
  }
  .card-figure{
    width: 30%;
    margin: 0 10px 0 0 !important;
    background: 0 0;
    float: left;
    overflow: hidden;
    z-index: 1;
  }
  .card-body{
    text-align: left;
    padding: 0 !important;
    overflow: hidden;
  }
  .card-title{
    margin: 0px !important;
    font-size: 13px !important;
    line-height: 18px !important;
  }
  .price-section{
    font-size: 12px !important;
  }
  .price.price--rrp, .price.price--non-sale{
    font-size: 12px !important;
  }
  .card-rate{
    line-height: 18px;
    margin: 2px 0px !important;
  }
.card .card-body .card-btn{
    display: none;
  }
  .brandName{
    .card-text{
      line-height: 18px;
    }
  }
}
/* ==:: Product Section END  ::== */
// Card css -----------------------------------------------------
/* ==:: Card START  :==*/
// /* list view scss */
.page-sidebar + .page-content{
  .productGrid{
    &.product-list-style{
      .product{
        width: 50%;
        @include breakpoint(medium down){
          width: 100%;
        }
      }
    }
  }
}
.page-content{
  .productGrid{
    &.product-list-style{
      .product{
        width: 33.33%;
        @include breakpoint(large down){
          width: 50%;
        }
        @include breakpoint(mob-mid down){
          width: 100%;
        }
      }
     .card-price{
        width: 100%;
        float: none;
        text-align: left;
      }
      .card-rate{
        width: 100%;
        float: none;
        text-align: left;
      }
      .card-title{
        margin: 10px 0;
      }
    }
  }
}
.productGrid{
  &.product-list-style{
    .card{
      margin: 15px 0;
      .card-body{
        .card-summary{
          display: block;
          margin-bottom: 0px;
          line-height: 20px;
          color: $theme-price-color;
        }
        .card-btn{
          opacity: 1;
          visibility: visible;
          bottom: auto;
          position: static;
          top: auto;
          right: auto;
          display: block;
          left: auto;
          padding: 0px;
          -webkit-transform: none;
          -ms-transform: none;
          -o-transform: none;
          transform: none;
          text-align: left;
          transition: none;
          a{
            margin-top: 10px;
            padding: 8px 13px;
            line-height: 16px;
            font-size: 12px;
            border: 1px solid $stencil-primary-color;
            color: $stencil-primary-color;
            background: none;
            transition: none;
            &:hover{
              color: $theme-white-color;
              background: $stencil-primary-color;
            }
          }
        }
      }
      &:hover{
        .card-price{
          .price-section{
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .card-inner{
      display: flex; align-items: start; height: 100%;
      &:after{
        bottom: 0 !important;
        transition: none;
        transform: none;
      }
    }
    .card-figure{
      flex: 1;
      height: 100% !important;
      margin: 0px;
    }
    .card-body{
      flex: 1; text-align: left;
      height: 100% !important;
      padding-bottom: 20px;
      padding-left: 20px;
    }
  }
}
.milano-layout--Blue{
  .productGrid.product-list-style{
    @include breakpoint(medium down){
      .card-image{
        bottom: auto;
      }
      .sale-flag-side{
        right: auto;
        left: 20px;
        line-height: 18px;
        padding: 2px 6px;
        span{
          transform: rotate(0);
          display: inline-block;
          vertical-align: middle;
        }
        &:before{
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 12px 0 12px 8px;
          border-color: transparent transparent transparent $stencil-primary-color;
          right: -7px;
          left: auto;
          top: -1px;
        }
      }
      .card-title{
        margin-bottom: 10px;
        margin-top: 5px;
        a{
          font-size: 12px;
          line-height: 18px;
        }
      }
      .card-summary{
        font-size: 12px;
      }
    }
  }
}
// /* List view Scss end */
/* ==:: Card End  :==*/
// Aboutus Section css -----------------------------------------------
/* ==:: Aboutus Section START ::== */
.home-bottom-content {
    overflow: hidden;
    img{
      width: 100%;
    }
    h3{
      font-size: 30px;
      font-weight: 300;
      line-height: 35px;
    }
  .home-bottom-content-detail{
    p {
      strong{
        font-weight: $font-weight-500;
      }
      color: hsl(0, 0%, 40%);
      font-size: 15px;
      font-weight: 300;
      line-height: 23px;
      margin-bottom: 15px;
    }
  }
}
/* ==:: Aboutus Section END ::== */
// Blog Section css --------------------------------------------------
/* ==:: Blog Section START ::== */

.milano-layout--default{
  .home-blog-list-wrap{
    .custom-row{
      .column:last-child:not(:first-child), .columns:last-child:not(:first-child){
        float:left;
      }
    }
  }
}
.home-blog-post {
  @include breakpoint(medium down) {
    margin-bottom: 30px;
  }
  @include breakpoint(mob-mid down) {
    margin-bottom: 10px;
  }
  .section-title{
    margin-bottom: 30px;
  }
}
.home-blog-img{
  margin-bottom: 15px;
  position: relative;
  @include breakpoint(small down) {
    margin-bottom: 10px;
  }
  a{
    text-align: center;
    display: block;
    span{
      max-height: 257px;
      display: block;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 257px;
      @include breakpoint(xlarge down) {
        max-height: 224px;
        min-height: 224px;
      }
      @include breakpoint(large down) {
        max-height: 176px;
        min-height: 176px;
      }
      @include breakpoint(medium down) {
        max-height: 128px;
        min-height: 128px;
      }
      @include breakpoint(mob-large down) {
        max-height: 110px;
        min-height: 110px;
      }
      @include breakpoint(mob-mid down) {
        margin-bottom: 10px;
        max-height: inherit;
      }
      &:before{
        position: absolute;
        content: "\e97a";
        font-family: icomoon;
        color: #fff;
        line-height: 50px;
        left: 50%;
        margin-left: -20px;
        top: 50%;
        margin-top: -20px;
        z-index: 5;
        font-size: 25px;
        opacity: 0;
        transition: all .4s ease 0s;
        width: 50px;
        height: 50px;
        background: $theme-orange-color;
        @include breakpoint(medium down){
          display: none;
        }
      }
      &:hover{
        &:before{
          opacity: 1;
        }
      }
    }
    img{
      width: auto;
      overflow: hidden;
      background-color: $theme-white-color;
      position: relative;
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -ms-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
    }
  }
}
.read-more{
  margin: 0px;
  text-transform: capitalize;
  font-size: 14px;
  color: $theme-orange-color;
  &:hover{
    color: $theme-body-font-color;
  }
}
.home-blog-detail{
  text-align: left;
  h2{
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  p{
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 10px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0px;
  }
  @include breakpoint(mob-mid down) {
    margin-bottom: 20px;
  }
}
// ==: Blue Veriant Blog Section :== //
.milano-layout--Blue{
  .home-blog-post.m-b-50{
    margin-bottom: 60px;
    @include breakpoint(medium down){
      margin-bottom: 20px;
    }
    @include breakpoint(mob-mid down){
      margin-bottom: 10px;
    }
  }
  .home-blog-list-wrap{
    .custom-row{
      margin-top: 10px;
      @include breakpoint(medium down) {
        margin-top: 0px;
      }
    }
  }
}
.home-blog-style2{
  .home-blog-post{
    .section-title{
      @include breakpoint(medium down) {
        margin-bottom: 20px;
      }
    }
  }
  .home-blog-item{
    position: relative;
    border: 1px solid $theme-semi-border-color;
    @include breakpoint(medium down){
      border: 0px;
    }
    .home-blog-detail{
      h2{
        font-size: 18px;
        margin-bottom: 7px;
      }
    }
    &:hover{
      .home-blog-img{
        a{
          span{
            min-height: 400px;
            @include breakpoint(large down){
              min-height: 300px;
            }
            @include breakpoint(medium down){
              min-height: 220px;
            }
            @include breakpoint(mob-large down){
              min-height: 200px;
            }
            &:before{
              opacity: 1;
            }
          }
        }
      }
      .home-blog-detail{
        background: $stencil-primary-color;
        transition: all .4s ease 0s;
        @include breakpoint(medium down){
          background: none;
        }
        h2{
          a{
            color: $theme-white-color;
            @include breakpoint(medium down){
              color: $theme-black-color;
            }
          }
        }
        p{
          color: $theme-white-color;
          @include breakpoint(medium down){
            color: $theme-title-line-color;
          }
        }
        .read-more{
          color: $theme-white-color;
          @include breakpoint(medium down){
            color: $stencil-primary-color;
          }
        }
      }
      .blog-date-name{
        span{
          color: $theme-white-color;
          @include breakpoint(medium down){
            color: $theme-title-line-color;
          }
          i{
            color: $theme-white-color;
            @include breakpoint(medium down){
              color: $theme-title-line-color;
            }
          }
        }
      }
    }
  }
  .blog-date-name{
    margin-bottom: 14px;
    span{
      font-size: 12px;
      color: $theme-title-line-color;
      margin-right: 20px;
      i{
        font-size: 16px;
        color: $theme-black-color;
        margin-right: 8px;
        font-weight: bold;
      }
    }
  }
  .home-blog-img{
    margin: 0;
    a{
      span{
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(large down){
          min-height: 300px;
        }
        @include breakpoint(medium down){
          min-height: 220px;
        }
        @include breakpoint(mob-large down){
          min-height: 200px;
        }
        &:before{
          border: 8px solid $stencil-primary-color;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          z-index: 1;
          opacity: 0;
          background: none;
        }
        img{
          width: auto;
        }
      }
    }
  }
  .banner-hover{
    &:hover{
      a{
        img{
          transform: none;
          opacity: 1;
        }
      }
    }
  }
  .home-blog-img{
    + .home-blog-detail{
      position: absolute;
      right: 0;bottom: 0;
      width: 48%;
      @include breakpoint(xlarge down){
        width: 55%;
      }
      @include breakpoint(large down){
        width: 65%;
      }
      @include breakpoint(medium down){
        width: 100%;
        position: inherit;
        padding: 15px;
        padding-left: 0px;
      }
      @include breakpoint(mob-mid down){
        padding-bottom: 0px;
      }
    }
  }
  .home-blog-detail{
    padding-top: 34px;
    padding: 25px 24px;
    background: $theme-white-color;
    P{
      color: $theme-title-line-color;
    }
    .read-more{
      font-style: italic;
      font-size: 12px;
    }
  }
}
/*== Blog Section END ==*/
// Instagram Section css ---------------------------------------------
/* ==:: Instagram Section START ::== */

.milano-layout--Blue{
  .insta-item{
    img{
      width: 100%;
    }
  }
}

.insta-image{
  text-align: center;
  float: left;
  width: 144px;
  background: $theme-primary-color;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
        @include breakpoint(large down) {
          width: 130px;
          height: 106px;
        }
        @include breakpoint(mob-mid down) {
          height: 98px;
        }
        @include breakpoint(small down) {
          width: 100px;
          height: 90px;
        }
    .insta-image-inn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px 10px;
      flex-direction: column;
      .insta-img{
        width: 50px;
        height: 50px;
        margin: 0 auto;
        display: block;
        @include breakpoint(mob-mid down) {
          width: 40px;
          height: 40px;
        }
        .footer-instalogo-icon{
          width: 50px;
          height: 50px;
          fill:$theme-white-color;
          @include breakpoint(mob-mid down) {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  p{
    color: $theme-white-color;
    @include breakpoint(large down) {
      font-size: 12px;
      line-height: normal;
      word-break: break-all;
    }
  }
}
.home-instagram{
  width: -webkit-calc(100% - 144px);
  width: -moz-calc(100% - 144px);
  width: calc(100% - 144px);
  float: right;
  @include breakpoint(large down) {
    width: -webkit-calc(100% - 130px);
    width: -moz-calc(100% - 130px);
    width: calc(100% - 130px);
  }
  @include breakpoint(small down) {
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
  }
  .insta-block {
    .insta-item{
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      padding-left: 1px;
      a.animation{
        position: relative;
        display: block;
        overflow: hidden;
        height: 120px;
          @include breakpoint(large down) {
            height: 106px;
          }
          @include breakpoint(mob-mid down) {
            height: 98px;
          }
          @include breakpoint(small down) {
            height: 90px;
          }
        img{
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          display: inline-block;
          vertical-align: top;
          object-fit: cover;
        }
        &:before{
          position: absolute;
          content: "\e986";
          font-family: icomoon;
          color: #fff;
          line-height: 35px;
          left: 50%;
          margin-left: -20px;
          top: 50%;
          margin-top: -20px;
          z-index: 5;
          font-size: 18px;
          opacity: 0;
          transition: all .4s ease 0s;
          background: $theme-orange-color;
          width: 35px;
          height: 35px;
        }
        &:after{
          top: 0px;
          left: 0px;
          right:0px;
          bottom:0px;
          content: "";
          position: absolute;
          opacity: 0;
          background: rgba(0,0,0,0.8);
          transition: all .4s ease 0s;
        }
        &:hover{
          &:before{
            opacity: 1;
            &:hover{
              background: $theme-black-color;
            }
          }
          &:after{
            opacity: .7;
          }
        }
      }
    }
  }
}
// ==: Blue Veriant Instagrame :== //
.milano-layout--Blue{
  .instagrame{
    &.m-b-50{
      margin-bottom: 60px;
      @include breakpoint(large down){
        margin-bottom: 40px;
      }
    }
  }
  #instafeed{
    position: relative;
    &:before, &:after{
      position: absolute; top: 10px; bottom: 10px;  width: 100px; content: " ";
      z-index: 10;
    }
    &:before{
      left: 0;
      background: rgba(0,0,0,0.65);
      background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(231,56,39,0) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.65)), color-stop(100%, rgba(231,56,39,0)));
      background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(231,56,39,0) 100%);
      background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(231,56,39,0) 100%);
      background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(231,56,39,0) 100%);
      background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(231,56,39,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=1 );
    }
    &:after{
      right: 0;
      background: rgba(89,59,89,0);
      background: -moz-linear-gradient(left, rgba(89,59,89,0) 0%, rgba(0,0,0,0.65) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(89,59,89,0)), color-stop(100%, rgba(0,0,0,0.65)));
      background: -webkit-linear-gradient(left, rgba(89,59,89,0) 0%, rgba(0,0,0,0.65) 100%);
      background: -o-linear-gradient(left, rgba(89,59,89,0) 0%, rgba(0,0,0,0.65) 100%);
      background: -ms-linear-gradient(left, rgba(89,59,89,0) 0%, rgba(0,0,0,0.65) 100%);
      background: linear-gradient(to right, rgba(89,59,89,0) 0%, rgba(0,0,0,0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#593b59', endColorstr='#000000', GradientType=1 );
    }
    .slick-arrow{
      z-index: 12;
    }
  }
  .instagrame{
    .section-title{
        .page-heading{
          text-transform: none;
        }
        .insta-black-logo{
          display: inline-block;vertical-align: middle;line-height: 21px;
          .footer-instalogo-icon{
            width: 25px;  height: 25px;
          }
        }
        .insta-black-name{
          display: inline-block;vertical-align: middle;line-height: 21px;
        }
    }
    .slick-track{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .slick-slide {
      margin: 10px 0;
      transition: all 0.2s ease;
      &:hover{
      position: relative;
      z-index: 5;
      transform: scale(1.1,1.1);
        .animation{
          &:before{
            opacity: 1;
            transition: all 0.2s ease;
          }
          &:after{
            opacity: 1;
            transition: all 0.2s ease;
          }
        }
      }
    }
    .slick-prev{
      top: 50%;
      left: 0;
      right: auto;
      &:hover{
        background: none;
        &:before{
          color: $stencil-primary-color;
        }
      }
      &:focus{
        background: none;
      }
    }
    .slick-prev:before{
      content: "\e979";
      color: $theme-white-color;
      font-size: 26px;
    }
    .slick-next{
      top: 50%;
      z-index: 2;
      right: 0;
      &:hover{
        background: none;
        &:before{
          color: $stencil-primary-color;
        }
      }
      &:focus{
        background: none;
      }
    }
    .slick-next:before{
      content: "\e97a";
      color: $theme-white-color;
      font-size: 26px;
    }
    .animation{
      position: relative;
      display: flex;
      display: -ms-flexbox;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-pack: center;
      align-items: center;
      &:before{
        position: absolute;
        background: rgba($stencil-primary-color, 0.8);
        top:10px;
        right:10px;
        left: 10px;
        bottom: 10px;
        content: "";
        opacity: 0;
        transition: all 0.2s ease;
      }
      &:after{
        position: absolute;
        background: url(../img/instagrame-logo.png)no-repeat;
        top:50%;
        right:0px;
        left: 50%;
        bottom: 0px;
        content: "";
        // margin-top: -33px;
        // margin-left: -33px;
        opacity: 0;
        transition: all 0.2s ease;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-size: 100%;
        @include breakpoint(mid-large down) {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
/* ==:: Instagram Section END ::== */
// CATEGORY PAGE STYLE ---------------------------------------------------------
/* ==:: CATEGORY PAGE STYLE  START ::==*/
.milano-layout--Blue{
  .productGrid{
    margin-bottom: 40px;
    margin-top: 30px;
  }
}
.banner-with-border{
  border-bottom: 1px solid $theme-border-color;
  font-weight: 300;
}
.banner-with-border-top{
  border-top: 1px solid $theme-border-color;
}
.category-top-bar {
    font-weight: 300;
    .full-width-banner-detail{
      width: 60%;
      padding-right: 30px;
      h4{
        margin-top: 10px;
      }
      p{
        margin: 20px 0 0 0;
      }
    }
    .full-width-banner-img {
      width: 40%;
    }
}
.banner-with-bag {
    background: #f6f6f6;
    padding: 20px;
}
.pagination{
  .pagination-list{
    text-align: left;
    margin: 0px;
    .pagination-item.pagination-item--current  {
      a{
        color: $theme-primary-color;
        &:hover{
          color: $theme-black-color;
        }
      }
    }
    .pagination-item{
      a{
        color: $theme-black-color;
        i{
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 2px;
        }
        &:hover{
          color: $theme-primary-color;
        }
      }
    }
    .pagination-item.pagination-item--previous, .pagination-item.pagination-item--next{
      float: none;
    }
  }
}
.page-top-bar{
  .page-heading{
    font-size: 24px;
    margin: 0;
    line-height: 30px;
    padding: 0;
    text-align: left;
    float: left;
    border: none;
    font-weight: 400;
    border-bottom: 1px solid $theme-border-color;
    width: 100%;
    display: block;
    padding-bottom: 15px;
    &:after{
      display: none;
    }
    @include breakpoint(mob-large down) {
      padding-bottom: 10px;
    }
  }
}
.sub-category-wrap{
  .page-heading.small{
    font-weight: 300;
    border-bottom: 1px solid #e9e9e9;
    text-transform: uppercase;
    &:after{
      display: none;
    }
  }
}
.category-filter-block{
  .pagination{
    float: left;
    margin-top: 5px;
  }
  .product-view-button{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    @include breakpoint(medium down) {
      margin-right: 5px;
    }
    a{
      display: inline-block;
      vertical-align: middle;
    }
    a.active{
      span{
         color: $theme-orange-color;
      }
    }
      span{
        font-size: 24px;
        line-height: 30px;
        margin: 0 5px;
      }
      @include breakpoint(mob-large down) {
        display: none;
      }
  }
  .actionBar{
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    .form-field{
      margin: 0px;
      border: 0px;
      .form-select {
        border: 1px solid $theme-border-color;
        padding-left: 10px;
        box-shadow: none;
        padding-right: 30px;
      }
      .form-label{
        font-weight: $font-weight-500;
        color: $theme-black-color;
      }
    }
  }
}
.sidebarBlock-heading, .accordion-title{
  margin-top: 0;
  text-transform: inherit;
  font-size: 18px;
  line-height: 18px;
  color: $theme-black-color;
  font-weight: $font-weight-500;
  padding: 0px !important;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  @include breakpoint(mob-large down){
    cursor: pointer;
  }
}
.sidebarBlock + .sidebarBlock{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted $theme-dark-border-color;
}
.facetedSearch-toggle + .facetedSearch-navList, .sidebarBlock + .facetedSearch-navList{
  margin-top: 0px;
}

.facetedSearch-refineFilters{
  font-weight: 400;
  color: $theme-black-color;
  border-bottom: 1px dotted $theme-dark-border-color;
  padding-bottom: 20px;
}
.accordion--navList{
  .accordion-block{
    border-bottom: 1px dotted $theme-dark-border-color;
    padding: 20px 0;
    margin: 0px;
    &:last-child{
      border-bottom: 0px;
    }
  }
}
.form-minMaxRow{
  .form-field{
    width: 50%;
    margin-bottom: 10px;
    .form-input{
      border-radius: 0px;
      padding-right: 0px;
    }
  }
  .form-field-full-width{
    width: 100%;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
  }
  .button {
    width: 100%;
    display: block;
  }
}
.sub-category-block{
  list-style: none; margin-left: -20px; margin-right: -20px; margin-bottom: 20px; display: flex; flex-wrap: wrap;
       @include breakpoint(small down) {
         margin-left: -18px;
         margin-right: -18px;
       }
  li{
     margin-bottom: 20px; width: 14.7%; border: 1px solid $theme-border-color; padding: 5px; margin-left: 20px;
     @include breakpoint(xlarge down) {
       width: 17.6%;
     }
     @include breakpoint(large down) {
       width: 21.7%;
     }
     @include breakpoint(medium down) {
       width: 28.2%;
     }
     @include breakpoint(mob-large down) {
        width: 29.3%;
     }
     @include breakpoint(mob-mid down) {
        width: 28.7%;
     }
     @include breakpoint(mob-small down) {
        width: 27.7%;
     }
     @include breakpoint(small down) {
       width: 41%;
     }
    a{
      display: block;   color: $theme-body-grey-color; margin: 0 auto;
      &:hover{
        color: $theme-primary-color;
      }
    }
    .sub-category-img{
       display: table-cell;
       overflow: hidden;
       width: 160px;
       max-width: 100%;
       vertical-align: middle;
       @include breakpoint(medium down){
         width: 140px;
       }
       @include breakpoint(mob-large down){
         width: 180px;
       }
       @include breakpoint(mob-mid down){
         width: 148px;
       }
      img{
        display: inline-block;
        max-width: 160px;
        @include breakpoint(medium down){
          max-width: 140px;
        }
        @include breakpoint(mob-large down){
          max-width: 180px;
        }
        @include breakpoint(mob-mid down){
          max-width: 148px;
        }
        @include breakpoint(mob-small down){
          max-width: 120px;
        }
      }
    }
    .category-image-inner{
      position: relative;
      width: 100%;
      &:hover{
        a{
          color: $theme-primary-color;
        }
      }
    }
    .sub-category-name{
        margin-bottom: 10px; font-size: 13px; line-height: normal;
        display: inline-block;margin-top: 10px;
        a{
          color: $theme-black-color;
          &:hover{
            color: $theme-primary-color;
          }
        }
    }

    &.column:last-child:not(:first-child), .columns:last-child:not(:first-child){
      float: left;
    }
    &:hover{
      .sub-category-img-block{
        img{
          opacity: 0.7;
        }
      }
    }
  }
}
/* ==:: CATEGORY PAGE STYLE END ::==*/
// PRODUCT DETAIL STYLE ---------------------------------------------------------
/* ==:: PRODUCT DETAIL PAGE STYLE  START ::==*/
.type-product.milano-layout--Blue {
   .card{
     margin-bottom: 50px;
     @include breakpoint(medium down){
       margin-bottom: 0px;
     }
   }
   .usp-section{
     + .related-product{
       margin-top: 20px;
       @include breakpoint(medium down){
         margin-top: 0px;
       }
     }
   }
   .related-product{
     .card{
       .card-body{
         .card-btn{
            display: none;
            @include breakpoint(medium down){
              display: block;
            }
         }
       }
     }
   }
}
.icon--ratingFull{
  svg{
    fill: $theme-primary-color;
  }
}
.icon--ratingEmpty{
  svg{
    fill: lightern($theme-dark-grey-color, 20%);
  }
}
.call-for-price{
  font-weight: 300;
  strong{
    display: inline-block; vertical-align: middle; font-weight: $font-weight-500; font-size: 18px; line-height: 20px;
  }
  .icon-call-hold{
    margin-right: 10px; color: $theme-primary-color; display: none;
  }
  span{
    display: inline-block; vertical-align: bottom; font-size: 16px;
  }
}
.wishlist-popup{
  .wishlist_dropdownbox{
    text-align: center;
    .wishlistid{
      outline: none !important;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid $theme-black-color;
      padding: 2px 5px;
      background: none;
      text-transform: capitalize;
      margin-top: 10px;
      &:hover{
        border: 1px solid $stencil-primary-color;
        color: $stencil-primary-color;
      }
      + .wishlistid{
        margin-left: 10px;
      }
    }
    input[type="radio"]{
      border: 1px solid #000 !important;
      background: #f2f;
    }
    label{
      display: inline-block;
      vertical-align: middle;
      text-transform: capitalize;
       + .wishlistid {
         margin-left: 10px;
       }
    }
    .button{
      margin-bottom: 0px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 auto;
      margin-top: 20px;
       + .button{
         margin-left: 16px;
       }
    }
  }
}
.product-tab-section{
  .productCarousel{
    margin-bottom: 0;
  }
  .tab-content, .tab-content.has-jsContent.is-active{
    padding-bottom: 0;
  }
  .slick-prev, .slick-next{
    font-size: 14px;
  }
  .slick-dotted{
    @include breakpoint(medium down){
      margin-bottom: 30px;
    }
  }
}
/* ==:: PRODUCT DETAIL PAGE STYLE END ::==*/
// SEARCH PAGE STYLE ------------------------------------------------------------
/* ==:: SEARCH PAGE STYLE START ::==*/
#search-results-content{
  ul{
    margin: 20px 0 0 0;
  }
  .form-field{
    margin: 0px;
  }
}
/* ==:: SEARCH PAGE STYLE END ::==*/
// BRAND PAGE STYLE ------------------------------------------------------------
/* ==:: BRAND PAGE STYLE START ::==*/
.brandGrid {
      @include flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          &:before{
            display: none !important;
          }
          &:after{
            display: none !important;
          }
    .brand {
        margin-bottom: 20px;
        -webkit-flex-basis: 16.66%;
        -ms-flex-preferred-size: 16.66%;
        flex-basis: 16.66%;
        @include breakpoint(large down){
          -webkit-flex-basis: 25%;
          -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
        }
        @include breakpoint(mob-mid down){
          -webkit-flex-basis: 33.33%;
          -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%;
        }
        @include breakpoint(small down){
          -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
        }
    }
    .card {
        height: 100%;
        @include flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 5px;
    }
    .card-figure-custom {
        margin-bottom: 0;
        margin-top: 0;
        align-self: center;
        width: 100%;
    }
    .card-body-custom {
        align-self: flex-end;
        @include flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        padding: 0 5px;
        width: 100%;
        .card-title{
          font-size: 14px;
          line-height: 18px;
          word-break: break-all;
        }
    }
}
.milano-layout--Blue{
  .brandGrid .brand .card{
    margin-top: 0px;
    .card-body{
     padding: 10px;
     height: inherit;
     .card-title{
       margin: 0px;
     }
   }
  }
}
.side-bar-img{
  border: 1px solid $theme-border-color;
}
/* ==:: BRAND PAGE STYLE END ::==*/

// CART PAGE STYLE -------------------------------------------------------------
/* ==:: CART PAGE STYLE START ::==*/
.cart-header{
  .cart-header-item{
    color: $theme-body-font-color;
    font-weight: 600;
    padding: 15px 10px;
  }
}
.cart-list{
  .cart-item-title{
    .cart-item-options--giftWrapping{
      margin-bottom: 0px;
      .cart-item-option-description{
        margin-bottom: 0px;
      }
    }
  }
  .cart-item-quantity{
    .form-increment{
      .form-input--incrementTotal{
        height: 50px;
        width: 50px !important;
        font-size: 14px;
        text-align: center;
        color: $theme-light-black-color;
        border: 1px solid $theme-dark-border-color;
        border-radius: 0px;
        float: left;
        font-weight: 300;
        padding: 5px;
        @include breakpoint(small down) {
          height: 40px;
          width: 40px !important;
          padding: 5px;
        }
      }
      .button{
        display: block;
        border: none;
        padding: 0px;
        background: transparent;
        i{
          font-size: 10px;
          line-height: 25px;
          text-align: center;
          width: 20px;
          height: 25px;
          display: block;
          border: 1px solid $theme-dark-border-color;
          color: $theme-black-color;
          cursor: pointer;
          border-radius: 0px;
          border-left: none;
          @include breakpoint(small down) {
            width: 20px;
            height: 20px;
            line-height: 20px;
          }
        }
        .icon-arrow-1-up{
          border-bottom: 0px;
        }
        &:hover{
          background: $theme-orange-color;
          i{
            color: $theme-white-color;
          }
        }
      }
    }
  }
  .cart-item-info{
    strong.cart-item-value{
      font-weight: 600;
    }
    .cart-item-value {
      line-height: 24px;
      font-weight: 400;
    }
    .cart-remove{
      background: none;
      width: 20px;
      height: 20px;
      margin: 0px 0 0 20px;
      @include breakpoint(small down){
        margin: 0 0 0 7px;
      }
      i{
        color: $theme-orange-color;
      }
      &:hover{
        i{
          color:$theme-black-color;
        }
      }
    }
  }
}
.cart-totals{
  .cart-total{
    padding: 0 10px;
    .cart-total-label, .cart-total-value{
      padding: 13px 0;
      strong{
        font-weight: 600;
        font-size: 14px;
        color: $theme-black-color;
      }
    }
    .cart-total-value{
      font-weight: 400;
    }
    .cart-total-grandTotal{
      font-weight: 600;
      font-size: 20px;
    }
  }
}
.cart-additionalCheckoutButtons{
  .CheckoutButton{
    margin: 5px 0;
    &:last-child{
      margin-top: 10px;
    }
    &:first-child{
      margin-bottom: 10px;
    }
    .or-use-label{
      margin-top: 0px;
      margin-bottom: 8px;
      font-weight: 400;
    }
  }
}
.giftWrapping-form{
  .form-actions{
    margin-bottom: 20px;
  }
}
/* ==:: CART PAGE STYLE END ::==*/

// LOGIN PAGE STYLE -------------------------------------------------------------
/* ==:: LOGIN PAGE STYLE START ::==*/
.login-box-top{
  @include breakpoint(mob-large down){
    margin-bottom: 30px;
  }
}
.login-box-inner{
  padding: 30px;
  .form-field {
    position: relative;
    .icon-user, .icon-lock{
      position: absolute;
      left: 10px;
      top: 46px;
    }
  }
  .form-actions{
    text-align: left;
  }
  .button, .forgot-password {
    display: inline-block;
    vertical-align: middle;
  }
  .forgot-password{
    @include breakpoint(small down){
      font-size: 12px;
    }
  }
  .panel-body{
    background: none;
    margin: 0px;
    padding: 0px;
    ul{
      @include breakpoint(small down){
        margin-left: 0px;
      }
    }
    p.new-customer-intro{
      margin-bottom: 17px;
    }
    a{
      .button{
        margin: 0px;
      }
    }
  }
}
/* ==:: LOGIN PAGE STYLE END ::==*/
// CREAT ACCOUNT PAGE STYLE -------------------------------------------------------------
/* ==:: Creat Account Page Style Start ::==*/
.type-createaccount{
  .form-row{
    margin: 0 -0.75rem;
    .form-field {
      @include breakpoint(mob-mid down){
        width: 100%;
        margin-bottom: 10px;
          .form-select{
            margin-bottom: 15px;
          }
      }
      .form-select{
        padding-right: 30px;
      }
    }
  }
  .form-row--third{
    .form-field--select{
      margin-bottom: 0px;
    }
  }
  .g-recaptcha{
    @include breakpoint(mob-large down){
      margin-top: 10px;
    }
  }
}
/* ==:: Creat Account Page Style End ::==*/

// WISHLIST PAGE STYLE -------------------------------------------------------------
/* ==:: WISHLIST PAGE STYLE START ::==*/
.type-wishlist{
  .productGrid{
    .form{
      margin: 20px 0 0 0;
      text-align: center;
      .button{
        margin: 0px;
      }
    }
  }
}
.wishlists-table{
  .table-actions{
    .button{
      @include breakpoint(mob-large down){
        display: block;
        width: 100%;
        margin: 5px 0 0;
      }
    }
  }
}
/* ==:: WISHLIST PAGE STYLE END ::==*/
// ACCOUNT PAGE STYLE -------------------------------------------------------------
/* ==:: ACCOUNT PAGE STYLE START ::==*/
.navBar--sub{
  .navBar-item{
    position: relative;
      @include breakpoint(medium down){
        margin: 0 6px 15px;
      }
      @include breakpoint(mob-large down){
        margin: 0 5px 15px;
        width: 48%;
        float: left;
        &:nth-child(odd){
          clear: both;
        }
      }
      @include breakpoint(mob-small down){
        width: 47%;
      }
      @include breakpoint(small down){
        width: 100%;
        margin: 0 0 15px 0;
      }
      a{
        padding: 10px 15px;
        border: 1px solid $theme-border-color;
        &:hover{
          color: $theme-orange-color;
          border: 1px solid $theme-orange-color;
        }
      }
      &:after{
        border: 10px solid transparent;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        content: '';
      }
  }
  .navBar-item.navBar-item--separate{
    border: 0px;
  }
  .navBar-item.is-active{
    padding: 10px 15px;
    border: none;
    color: $theme-white-color;
    background: $theme-orange-color;
    &:after{
      border-top-color: $theme-orange-color;
    }
  }
}
/* ==:: ACCOUNT PAGE STYLE END ::==*/
// ADDRESS PAGE STYLE -------------------------------------------------------------
/* ==:: ADDRESS PAGE STYLE START ::==*/
.panel--address{
  .address-title{
    font-size: 16px;
    font-weight: $font-weight-500;
    margin-bottom: 7px;
  }
  .address-details--postal{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .panel-body{
    padding: 1.5rem;
  }
  .form-actions{
    bottom: 0;
    position: inherit;
  }
}
/* ==:: ADDRESS PAGE STYLE END ::==*/
// GIFT-CERTIFICATE PAGE STYLE -------------------------------------------------------------
/* ==:: gift-certificate Page Style Start ::==*/
.gift-certificate-form{
  .form-fieldset {
    .form-field{
      padding: 0px;
    }
    .form-field-group{
      padding: 15px 0.75rem;
    }
  }
  @include breakpoint(small down){
    .form-fieldset.form-column{
      width: 100%;
      float: none;
      clear: both;
    }
    .form-actions{
      input
       + input{
         margin-top: 10px !important;
       }
    }
  }
}
.type-giftcertificates_redeem {
  ol{
    @include breakpoint(small down){
      margin-left: 0px;
    }
  }
}
/* ==:: gift-certificate Page Style End ::==*/
// Error PAGE STYLE -------------------------------------------------------------
/* ==:: Error Page Style Start ::==*/
.type-404{
  .page-content{
    .form{
      width: 60%;
      margin: 0 auto;
      @include breakpoint(medium down){
        width: 100%;
      }
    }
    .form-prefixPostfix-custom{
      display: flex;
      align-items: center;
      justify-content: center;
      .button{
        margin-top: 0px;
        line-height: 16px;
        text-align: center;
        justify-content: center;
        align-items: center;
        @include breakpoint(medium down){
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
.PayPalExpressCheckout{
  clear: both;
  padding-top: 10px;
}
/* ==:: Error Page Style End ::==*/
