// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


body, a, h1, h2, h3, h4, h5, p {
    font-family: Quicksand,sans-serif!important;
}

.style-img:hover img {
    transform: scale(1.1);
}

.style-img img {
    transition: 0.3s all;
}

.style-img {
    overflow: hidden;
    transition: 0.3s all;
}
.card .card-body .card-btn {
    display: none;
} 
.brand.m-t-30 {
    display: none;
}
.button.button--primary {
    background: #131313;
    color: #fff;
    border-color: #131313;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
}
.button.button--primary {
    text-transform: capitalize !important;
    font-weight: 600 !important;
    font-family: 'Quicksand', sans-serif !important;
    border: 0 !important;
}
.footer-col p a:hover {
    color: #fff !important;
}
.mini-links a {
    font-size: 16px !important;
    padding: 6px !important;
    font-weight: 400 !important;
}
    .mini-links a:hover {
        background: transparent !important;
        color: orange !important;
    }
.mini-links {
    position: absolute;
    bottom: 60px;
    right: 0;
}
.mini-links a:before {
    content: '›';
    font-weight: bold;
    font-size: 23px;
    line-height: 1;
    margin: 0;
    margin-right: 5px;
}
.has-submenu-two.active a {
    color: orange;
    background: #fff;
}
.has-submenu.active a {
    color: #fff;
}
.nav a {
    text-align: right;
    padding-right: 70px !important;
}
select#sort {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
}
.close-btn {
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
}
.second-tier.transform a {
    color: #fff;
}
.second-tier.transform a:hover {
    color: orange;
    background: #fff;
}
.footer-store-info-block p a:hover {
    text-decoration: underline;
    color: #fff;
}
h4.cart-item-name a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
span.cart-item-value {
    font-size: 18px;
    font-weight: 600 !important;
}
p {
    font-size: 16px;
    line-height: 1.3;
}
.style-img .overlay {
    display: block !important;
}
strong.cart-item-value {
    font-size: 18px;
    font-weight: 600 !important;
}
.cart-total-value span {
    font-size: 20px;
    font-weight: 600;
}
.productView-details h4.productView-title {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}
a.button {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-bottom-block .footer-bottom-block-inn {
    border-top: 0 !important;
    padding-bottom: 30px !important;
}

.tab.r-tabs-tab:after {
    display: none;
}
section.heroCarousel.slick-initialized.slick-slider.slick-dotted {
    margin-bottom: 0;
}
.grid-links a:hover {
    color: #e38f57!important;
}
a.arrow-btn:hover {
    color: #e38f57!important;
}
.category-image-inner p { 
    width: 100%;
}
li.navPages-item.navPages-item-page.last {
    display: none;
}
li.navPages-item a {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
.bottom-fset .btn-orange:hover {
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    width: 141px;
}
#trim-carousel img {
    width: 100%;
}
#trim-carousel {
    margin-top: -10px;
    margin-bottom: 36px;
}
div#trim-carousel .item {
    height: 110px;
    background-size: contain;
}

#trim-carousel .item.trim1 {
    background-image: url('https://cdn3.bigcommerce.com/s-cj3uzaybqe/product_images/uploaded_images/native-navyinsequence1.jpg');
}
.trim2 {
    background-image:url('https://cdn3.bigcommerce.com/s-cj3uzaybqe/product_images/uploaded_images/totembritebest.jpg');
}
.trim3 {
    background-image:url('https://cdn3.bigcommerce.com/s-cj3uzaybqe/product_images/uploaded_images/cdvbouquet.jpg');
}
div#alert-modal {
    padding: 40px;
}
button.confirm.button {
    margin: 0px auto;
    margin-top: 13px;
}
.category-top-bar.banner-with-bag{
    display: none;
}
 .card .card-body .card-title{
     height: auto !important;
 }
  .card .card-body .card-title a{
         text-transform: capitalize !important;
 }
  .header {
      animation-duration: 0s;
  }
 header.header.stuck img {
    width: 80px;
    margin-top: -8px;
}
.productView-images .productView-thumbnails li a {
    display: table-cell;
    height: auto !important;
    width: auto !important;
    vertical-align: middle;
    margin: 0px auto;
    display: inline-block;
}
.type-product h1.productView-title {
    border-bottom: 1px solid #000 !important;
}
ul.breadcrumbs {
    margin-bottom: 50px !important;
}
.related-product-inn .card {
    border-top: 1px solid #444 !important;
}
.related-desktop {
    border: 1px solid #444 !important;
}
.product-card article.card.clearfix {
    padding: 17px;
    height: auto !important;
        margin: 0 !important;
}
.productView-images .productView-thumbnails li {
    text-align: center;
}
.product-view-related-tital h2 {
    background: #29363f!important;
    color: #fff;
    letter-spacing: 1px;
}
.footer-bottom-block {
    background: #000 !important;
    border-top: 0 !important;
    margin-top: -26px !important;
    border: 0 !important;
}
.footer-bottom-block .footer-bottom-block-inn P span {
    color: #FFF !important;
    font-size: 16px;
    letter-spacing: 1px;
}
figure.productView-image {
    border: 0;
    height: auto;
}
.tab.r-tabs-tab .tab-title:hover, .tab.r-tabs-tab.r-tabs-state-active .tab-title {
    background: #29363f !important;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
div#tab-description {
    padding: 0;
}
.tab.r-tabs-state-active:after {
    border-top-color: #29363f;
}
label.form-option span {
    font-size: 18px;
}
.productView-images .productView-thumbnails li a {
    display: table-cell;
    height: auto;
    width: 75px;
    padding: 3px;
    vertical-align: middle;
    border-color: #bbb;
}
.productView-images .productView-thumbnails li a:hover {
    border-color: orange;
}
a.productView-thumbnail-link.is-active {
    border-color: orange !important;
}
.productView-price span.price {
    font-weight: 800;
    font-size: 26px;
    line-height: 2px;
    display: block;
}
.productView-options .card-quantity .form-action .button {
    background: #e38f57;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
}
.productView-product h1.productView-title {
    font-weight: 900;
    color: #000;
    text-transform: capitalize;
    font-size: 28px;
    border-bottom: 0;
    letter-spacing: 1px;
}
.productView-product {
    border-bottom: 0;
}
.productView-product {
    padding-bottom: 0;
    margin-bottom: 0;
}
.form-radio:checked+.form-option {
    border-color: #e38f57;
    box-shadow: 0 !important;
    background: #e38f57;
    color: #fff;
}
.productView-options .form-label--alternate {
    letter-spacing: 1.5px;
    font-weight: 800 !important;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}
.productView-options .card-quantity .form-action .button {
    background: #e38f57;
}
.productView-rating.border-bottom {
    display: none;
}
.category-filter-block.clearfix.m-b-10 .pagination {
    display: none;
}
.card-body .card-btn {
    display: none;
}
ul.navPages-list li a:hover {
    color: orange !important;
}
h4.card-title a {
    text-transform: uppercase;
}
ul.navlist-sub.nav-second-level a {
    font-weight: 500;
    letter-spacing: 1px;
}
h5.sidebarBlock-heading.sidebar-toggle-title {
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
}
.tab-content ul.tabs {
    display: none;
}
h5.sidebarBlock-heading {
    margin-bottom: 13px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
}
ul.navList.navList-treeview.sidebar-toggle-content.treeview {
    margin-left: 20px;
    margin-top: 30px;
}
li.navList-item a {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 0;
}
ul.breadcrumbs {
    padding: 0 7px;
}

ul.breadcrumbs a, ul.breadcrumbs span {
    font-size: 16px !important;
    letter-spacing: 2px;
}
.breadcrumbs .is-active:before {
    color: #000;
    font-size: 8px;
    display: inline-block;
}
.card-figcaption-body a {
    text-transform: capitalize !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    letter-spacing: 2px !important;
}
main.page-content .page-heading {
    font-weight: 500;
    letter-spacing: 3px;
    border-bottom: 1px solid;
    padding-bottom: 6px;
}
.card:hover .card-price .price-section {
    opacity: 1 !important;
    visibility: visible !important;
}
li.column.sub-category-item.clearfix div {
    display: flex;
    align-items: center;
}
li.column.sub-category-item.clearfix {
    border: 1px solid #444;
}
.sub-category-block li .sub-category-name a {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
    color: #962630;
}
.category-image-inner .sub-category-img-block {
    display: none !important;
}
.sub-category-block li .sub-category-name {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: normal;
    display: inline-block;
    margin-top: 10px;
    height: auto !important;
}
.category-image-inner .sub-category-img-block {
    display: none !important;
}
.column.small-6.cart-checkout-button a {
    font-size: 12px;
}
li.pagination-item a {
    font-size: 18px;
    font-weight: 500 !important;
}
.actionBar-section .form-select {
    color: #222;
    border: 1px solid #000 !important;
}
.sub-category-block li .sub-category-img {
    display: table-cell;
    overflow: hidden;
    width: 160px;
    max-width: 100%;
    vertical-align: middle;
}
.bottom-fset .btn-orange {
    background: #E38F57;
    display: inline-block;
    width: auto;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 140px;
    transition: 0.3s all;
}
.footer-payment-icons SVG {
    fill: #fff !important;
    opacity: 1 !important;
        width: 70px !important;
}
.footer-payment-icons {
    text-align: left !important;
    margin-top: 10px !important;
}
article.footer-col .deals-cont {
    flex-direction: column;
    display: block;
    text-align: left !important;
    margin-top: 6px;
}
.link-overlay a {
    transition: 0.3s all;
}
article.footer-col p {
    font-size: 16px;
    line-height: 1.7;
}

.link-overlay a:hover {
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
}
.footer-bottom-block {
    background: #000;
}

.footer-store-info-block p a, .footer-store-info-block p:nth-child(2) {
    display: inline-block !important;
    margin-bottom: 0 !important;
}

.footer-btn {
    background: #e38f57;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    padding: 7px 20px;
    width: 167px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s all;
    margin-top: 10px;
}
.login-box-inner {
    border: 0 !important;
}
.page-sidebar+.page-content .productGrid .product {
    width: 25% !important;
}
h1.page-heading {
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    border: 0 !important;
}
.login-box-inner {
    padding: 0 !important;
}
.footer-btn:hover {
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    width: 170px;
}

.heroCarousel-wrap .slick-initialized .slick-active .heroCarousel-content {
    display: block;
    top: 63% !important;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%);
    left: 0;
    width: 100%;
    padding: 22px 70px;
}

.heroCarousel-title {
    color: #184251 !important;
    margin-bottom: 0 !important;
    letter-spacing: 2px;
}
.deals-cont a:hover {
    color: #e38f57!important;
}

.heroCarousel-description {
    line-height: 52px;
    font-weight: 700;
    margin-left: 130px;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: #184251 !important;
}

.header-logo-image {
    width: 140px;
    position: absolute;
    top: 11px;
    left: 40px;
}

.navigation-menu .navPages ul li a {
    font-size: 18px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.navUser-item-compare {
    display: none !important;
}

.card-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    width: 100%;
    height: auto !important;
}

.card-figure {
    overflow: hidden;
}

.slick-dots button {
    display: none !important;
}

.slick-dots li.slick-active:after {
    background-color:#E38F57 !important;
    height: 4px !important;
}
.slick-dots li:after {
    background-color: #fff !important;
    height: 4px !important;
}
.card-image {
    max-height: none !important;
}
.made-in-usa {
position: fixed;
    right: 0;
    top: 27%;
    width: 47px;
    height: 214px;
    background-image: url('https://cdn11.bigcommerce.com/s-b6phhy/product_images/uploaded_images/copperriverfleece-100sewnintheusa-tag.jpg?t=1570139175');
    z-index: 999999;
    overflow: hidden;
    background-repeat: no-repeat;
}
.deal-one, .deal-two {
    width: 100%;
}

.deal-one {
    background-image: url(https://renew-digital.mybigcommerce.com/content/deal-one.svg);
    background-size: cover;
    min-height: 290px;
    background-position: 42% 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: column;
}
.deal-two {
    background-image: url(https://renew-digital.mybigcommerce.com/content/deal-TWO.jpg);
    background-position: 2% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: column;
}
.deals-cont h4 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    display: block;
}
.deals-cont p {
    font-size: 23px;
    color: #fff;
    max-width: 220px;
    line-height: 1.4;
    text-align: right;
}
.deals-cont a {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.2px;
    display: block;
    margin-top: -19px;
}
.arrow {
    font-size: 33px;
    color: #e38f57 !important;
    font-weight: 800;
    position: relative;
    top: 3px;
}
.banners.home-top-banner {
    display: none;
}
.banners.home-bottom-banner {
    display: none;
}
.compare-box {
    display: none !important;
}
.column.xxlarge-3.large-3.medium-12.newsletter-form P {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.76;
    margin-top: 19px;
}
.column.xxlarge-3.large-3.medium-12.newsletter-form h5.footer-info-heading {
    color: #fff !important;
}
h5.footer-info-heading {
    text-transform: none;
    letter-spacing: 2px;
}
input#nl_email::placeholder {
    font-weight: 500;
    color: #777 !important;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Quicksand' !important;
}
input#nl_email {
    background: #fff;
    color: #000;
    padding: 7px 18px;
    height: auto;
    border: 2px solid orange;
}
.newsletter-form .form-prefixPostfix {
    background: transparent !important;
    padding: 0 !important;
}
.form-prefixPostfix.wrap.subscribeFormContent.form-field--error {
    display: flex;
    align-items: center;
}
.form-prefixPostfix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
}
.column.xxlarge-3.large-3.medium-12.newsletter-form button.button i {
    display: none;
}
.column.xxlarge-3.large-3.medium-12.newsletter-form button.button:before {
    content: 'Sign Up';
    color: #fff;
    background: #e38f57;
    opacity: 1 !important;
    height: 100%;
    width: 100%;
    display: block;
    padding: 6.5px 15PX;
    height: auto;
    position: relative;
    top: -8px;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: 'Quicksand';
    font-weight: 600;
    border: 0 !important;
}
.pencil-banner a {
    color: #fff !important;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: -5px;
}
.pencil-banner .arrow {
    display: inline-block !important;
    font-size: 28px;
    font-weight: 800;
    padding: 0;
    position: relative;
    top: 2px;
}
.pencil-banner a {
    margin-right: 20px;
}
    .pencil-banner a:last-child {
        margin-right: 0;
    }
.pencil-banner {
    text-align: right;
}
a.control-close-btn.default-close {
    display: none !important;
}
.pencil-banner .container {
    width: 100%;
}
.card .card-body {
    text-align: left;
}
h4.card-title a {
    font-weight: 800;
    margin-bottom: 20px !important;
    /* display: block; */
}
.section-title .page-heading {
    font-weight: 800;
    letter-spacing: 2px;
}
.section-title {
    text-align: left !important;
}
.card-title>a:hover {
    color: #e38f57;
}
.type-default .account .page-heading:before, .type-default .page-heading:before, .type-product .account .page-heading:before, .type-product .page-heading:before, .type-default .account .page-heading:after, .type-default .page-heading:after, .type-product .account .page-heading:after, .type-product .page-heading:after {
    content: none !important;
}

.styles-grid {
    max-width: 960px;
    margin: 0px auto;
    margin-top: 100px;
}
.styles-grid .row {
    display: flex;
    align-items: center;
}
.style-img {
    position: relative;
}
.style img {
    width: 100%;
}

.styles-grid .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay.vests {
    background: url(https://renew-digital.mybigcommerce.com/content/vests-overlay.svg);
}
.overlay.jackets {
    background: url(https://renew-digital.mybigcommerce.com/content/jackets-overlay.svg);
}
.overlay.hats {
    background: url(https://renew-digital.mybigcommerce.com/content/hats-overlay.svg);
}
.overlay.hoodies {
    background: url(https://renew-digital.mybigcommerce.com/content/hoodies-overlay.svg);
}
.overlay.accessories {
    background: url(https://renew-digital.mybigcommerce.com/content/accessories-overlay.svg);
}
.overlay.pets {
    background: url(https://renew-digital.mybigcommerce.com/content/pets-overlay.svg);
}

.grid-links {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.grid-links a {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2px;
}
.three-fset {
    margin: 50px 0;
}
.three-fset .item {
    height: 280px;
    background-size: cover;
    position: relative;
}
.link-overlay {
    text-align: center;
    position: absolute;
    bottom: 45px;
    width: 100%;
}
.three-fset .item.high-tech {
    background-image:url('https://renew-digital.mybigcommerce.com/content/high-tech.jpg');
}
.three-fset .item.artists {
    background-image:url('https://renew-digital.mybigcommerce.com/content/artists.jpg');
}
.three-fset .item.photos {
    background-image:url('https://renew-digital.mybigcommerce.com/content/photo-gallery.jpg');
}
.link-overlay a {
    background: #E38F57;
    color: #fff;
    padding: 10px 30px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
}
.bottom-fset {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 395px;
    background-image: url(https://renew-digital.mybigcommerce.com/content/bottom-fset-img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px 0;
}
.text-overlay {
    width: 62%;
    background-color: rgba(59,88,130,0.8);
    padding: 37px 130px 37px 36px;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.image-overlay {
    position: absolute;
    right: 70px;
}
.text-overlay h4 {
    color: #fff;
    font-size: calc(34px + 1vw);
    letter-spacing: 2px;
    font-weight: 800;
    line-height: 1;
    margin: 16px 0;
    letter-spacing: 0px;
}
.text-overlay p {
    color: #fff;
    font-size: calc(7px + 1vw);
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: 48px;
}
h1.page-heading {
    padding: 10px;
    margin-bottom: 0;
}
@media screen and (min-width: 768px) {
    .deals-cont {
        margin-top: -37px;
        display: flex;
        justify-content: space-evenly;
    }
    .productView-images .productView-thumbnails li {
    width: 20% !important;
}
    .previewCart .productView {
    width: 55%;
    }
    .previewCartCheckout {
    width: 43%;
}
    div#headerSidebar {
    padding: 20px 60px 30px 40px;
}
    .heroCarousel-description { 
    font-size: 60px;
    }
    .productView-details {
    width: 64% !important;
}
.productView-images {
    width: 35% !important;
}
    div#modal {
        max-width: 800px;
    }
    .deal-one, .deal-two {
        width: 50%;
    }
    .column.xxlarge-3.large-3.medium-12.newsletter-form {
        width: 36% !important;
    }
    .column.xlarge-6.large-2.medium-3 {
        width: 33% !important;
    }
    footer .custom-row {
        display: flex;
    }
    .three-fset .item:first-child {
        margin-left: -2px;
    }
    .column.xlarge-6.large-2.medium-3 {
        margin: 0px auto !important;
    }
    .column.xxlarge-3.large-3.medium-12.newsletter-form {
        float: left !important;
    }
    .column.xxlarge-3.large-3.medium-3.footer-store-info-block {
        float: right !important;
    }
    .style {
        width: 34%;
        overflow: hidden;
        position: relative;
        display: inline-block;
        overflow: visible;
        padding: 12px;
    }
    .three-fset {
        display: flex;
    }
    .style.dbl-horz {
        width: 66%;
        display: inline-block;
        overflow: visible;
        padding: 12px;
    }
    .three-fset .item {
        width: 34%;
        margin-left: 31px;
    }
    .style.dbl .style-img:last-child {
        top: 12px;
    }
    .style.dbl a:first-child .style-img {
        top: -12px;
    }

}

.mobile-only {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .pencil-banner a {
        color: #fff!important;
        letter-spacing: 2px;
        font-size: 13px;
    }
    .style-img .overlay {
    display: block !important;
}
    .overlay {
    display: none !important;
}
.nav {
    display: none !important;
}
    p.heroCarousel-description.animated.slideInDown {
    margin-left: 0 !important;
}
    .page-top-bar.m-b-20.clearfix {
    margin-top: 11px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
    .page-sidebar+.page-content .productGrid .product {
    width: 50%!important;
}
    div#trim-carousel {
        margin-bottom: 0;
        height: 47px;
        overflow: hidden;
    }
    .styles-grid {
        display: none;
    }
    .mobile-only {
        display: block !important;
    }
    .overlay.hats {
        background: url(https://renew-digital.mybigcommerce.com/content/hats-overlay.svg);
        background-size: 105% !important;
    }

    .header .header-wrapper {
        padding: 15px 15px !important;
    }
    .card .card-body {
        text-align: center;
    }
    .header-logo-image {
        width: 96px;
        position: absolute;
        top: 61px;
        left: 40px;
    }    
    .heroCarousel-wrap .slick-slide img {
        display: block;
        height: 420px;
        width: auto!important;
        overflow: visible;
        max-width: none!important;
        z-index: 999999;
        margin-left: -498px;
    }
    
    ul.breadcrumbs {
    display: none;
}
    
    .grid-links a {
        font-size: 16px;
    }
    .heroCarousel-wrap .slick-list.draggable {
        height: 420px !important;
    }
    .heroCarousel-wrap .slick-track {
        height: 420px !important;
    }
    .heroCarousel-description {
        font-size: 25px;
        line-height: 1.2;
        font-weight: 700;
        margin-left: 0;
        letter-spacing: 2px;
        margin-bottom: 0;
        color: #184251!important;
    }
    .animated.fadeIn.heroCarousel-content {
        padding: 15px 26px !important;
    }

    .slick-dots li {
        margin: 0 3px;
        display: inline-block;
        vertical-align: bottom;
        height: 10px!important;
        padding: 0;
        width: 20px;
        background: transparent !important;
        border: 2px solid #e38f57 !important;
        height: 7px !important;
    }
    li.slick-active {
        background: #e38f57 !important;
        height: 10px !important;
    }
    .slick-dots {
        top: inherit;
        width: 100%;
        right: auto;
        left: auto;
        text-align: center;
        transform: none;
        z-index: 9 !important;
        position: absolute !important;
    }
   .heroCarousel-wrap .slick-dots {
        bottom: 30px !important;
    }
    header.header.h-h-p.stuck .header-wrapper {
        padding: 0 15px !important;
    }
    header.header.h-h-p.stuck img {
        width: 80px;
        margin-top: -58px;
    }
    p.heroCarousel-description.animated.slideInDown {
        margin-left: 30px;
    }
    .deals-cont a {
        font-size: 16px;
    }
    .deals-cont h4 {
        font-size: 18px;
    }
    .deals-cont p {
        font-size: 18px;
    }
    .deal-one {
        min-height: 0;
    }
    .style-img {
        padding: 3px;
    }
    .text-overlay p {
        display: none;
        }
    .image-overlay img {
        width: 200px;
    }
    .image-overlay {
        position: absolute;
        right: 0px;
        bottom: 0;
        overflow: hidden;
    }
    .bottom-fset {
        min-height: 333px;
    }
    .text-overlay {
        padding: 10px;
    }
    .text-overlay h4 {
        color: #fff;
        font-size: 30px;
    }
    .card-btn {
        display: none !important;
    }
    .three-fset .item.high-tech {
    background-image: url(https://renew-digital.mybigcommerce.com/content/high-tech.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.three-fset .item {
    height: 221px;
    background-size: cover;
    position: relative;
}
.made-in-usa {
    right: -13px;
    width: 45px;
    background-size: 72%;
}
header.header.stuck img {
    width: 100px;
    margin-top: -51px;
}
.button.button--primary {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 16px;
}
}



@media print, screen and (min-width: 64em) {
    .modal--large {
        width: 880px !important;
    }
}

@media (min-width: 768px) and (max-width: 1750px) {
    .breadcrumbs {
        margin-left: 120px;
    }
}



.productCarousel-slide img {
    margin: 0px auto!important;
    max-width: 100% !important;
}

.productCarousel-slide .slick-list.draggable, .productCarousel-slide .slick-track {
    height: 320px!important;
}


 


@media (max-width: 1024px) {
    .deals-cont h4, .deals-cont p, .deals-cont a {
        text-shadow: 0px 0px 5px rgba(0,0,0,0.9);
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    div#trim-carousel .item {
        height: 70px;
    }
    .deal-one, .deal-two {
        min-height: 0;
    }
    .footer-btn {
        background: #e38f57;
        display: block;
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
    }
    .three-fset .item {
    height: 150px;
    }
    .card-btn {
        display: none !important;
    }
    .footer-payment-icons {
        display: flex;
        justify-content: space-between;
    }
    input#nl_email {
        width: 80%;
    }
}

@media (min-width: 0) and (max-width: 1450px) {
    .animated.fadeIn.heroCarousel-content p, .animated.fadeIn.heroCarousel-content h2 {
    font-size: calc(29px + 1vw) !important;
}
}




/*** NAV ***/
	.nav {
		right: 0;
		left: auto;
		margin: 0;
		width: 300px;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
		text-align: left;
		position: fixed;
		top: 0;
		bottom: 0;
		min-height: 100%;
		line-height: 1;
		z-index: 3000001;
		-moz-font-smoothing: antialiased;
		font-smoothing: antialiased;
		display: none;
	}
		.close-btn {
			position: absolute;
			top: 20px;
			right: 20px;
			z-index: 99999;
		}
			.close-btn i {
				font-size: 25px;
				color: #fff;
				cursor: pointer;
			}

		.nav a {
            color: #000;
            font-weight: 600;
            font-size: 20px;
            display: block;
            padding: 15px 24px;
            list-style: none;
            transition: .3s all;
            letter-spacing: 2px;
            width: 100%;
		}
			.nav a:hover {
				text-decoration: none;
			}

		.has-submenu {
			position: relative;
		}
			.has-submenu:before {
				content: '';
				background-image: url(/core/templates/puyallupsurgeons/images/icons/arrow-left.png);
				width: 20px;
				background-size: 10px 15px;
				height: 20px;
				transform: scale(.6);
				position: absolute;
				background-repeat: no-repeat;
				top: 19px;
				margin-right: 10px;
				color: #fff;
				left: 7px;
			}

		.has-submenu-two {
			position: relative;
		}
			.has-submenu-two:before {
				content: '';
				background-image: url(/core/templates/puyallupsurgeons/images/icons/arrow-left.png);
				width: 20px;
				background-size: 10px 15px;
				height: 20px;
				transform: scale(.6);
				position: absolute;
				background-repeat: no-repeat;
				top: 19px;
				margin-right: 10px;
				color: #fff;
				left: 7px;
			}

		.first-tier {
			width: 300px;
			position: absolute;
			height: 100%;
			background: #fff;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 4;
			padding-top: 100px;
		}
			.first-tier .has-submenu.active {
				    background: #e38f57;
    color: #fff;
			}
			.first-tier a:hover {
				    background: #e38f57;
    color: #fff;
			}
		.second-tier {
			width: 300px;
			position: absolute;
			height: 100%;
			background: #e38f57;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			padding-top: 100px;
			transition: 0.3s all;
			opacity: 0;
		}
			.second-tier .has-submenu-two.active {
				background: #65ABC8;
			}
			.second-tier a:hover {
				background: #65ABC8;
			}

		.third-tier {
			width: 300px;
			position: absolute;
			height: 100%;
			background: #65ABC8;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -2;
			padding-top: 100px;
			opacity: 0;
		}
			.third-tier a:hover {
				background: #fff;
				color: #65ABC8;
			}
		.transform {
			transition: 0.3s all;
			transform:translateX(-300px);
			opacity: 1;
		}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99;
	display: none;
}


.sr-only{
	position: absolute;
	left: -9999999px;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px;
  }
  div#headerSidebar {
    display: none;
}
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}




.body {
    margin-bottom: spacing("double") * 2;
}


.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-content--centered {

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar{
  float: left;
  width: 19%;
  @include breakpoint(large down) {
    width: 25%;
  }
  @include breakpoint(medium down) {
    width: 32%;
  }
  @include breakpoint(mob-large down) {
    width: 100%;
    clear: both;
  }
}

.page-sidebar {
        + .page-content {
          width: 79%;
          position: relative;
          @include breakpoint(large down) {
            width: 75%;
          }
          @include breakpoint(medium down) {
            width: 68%;
          }
          @include breakpoint(mob-large down) {
            width: 100%;
            clear: both;
            &:before{
              display: none;
            }
          }
      }
}

