// =============================================================================
// NAV (CSS)
// =============================================================================


// Citadel inline messages
// -----------------------------------------------------------------------------
//
// 1. Remove the margin-left we add to default lists.
//
// -----------------------------------------------------------------------------

.navList,
.navBar {
    margin-left: 0; // 1
}

.navList-action,
.navBar-action {
    text-decoration: none;
}

.navList-action.is-active {
    font-weight: $theme-orange-color;
}


// NavList action checkbox
// -----------------------------------------------------------------------------
//
// Purpose: Display a checkbox next to an actionable link, without actually using
// a checkbox element.
//
// 1. Position checkbox so it is vertically centered
//
// -----------------------------------------------------------------------------

.navList-action--checkbox {
    @include checkRadioBase();
    @include checkBox-base();

    &:before,
    &:after {
        top: 50%; // 1
    }

    &:before {
        margin-top: -$checkRadio-outerSize / 2;
    }

    &:after {
        margin-top: -$checkRadio-outerSize / 2 + remCalc(1);
    }

    &:focus {
        @include checkRadioBase--focus();
    }

    &.is-disabled {
        @include checkRadioBase--disabled();
    }

    &.is-checked,
    &.is-selected {
        @include checkRadioBase--checked();
    }
}


// NavList action close
// -----------------------------------------------------------------------------
//
.navList-action-close {
    background: $navList-action-close-background;
    border-radius: $navList-action-close-borderRadius;
    display: inline-block;
    float: right;
    line-height: 0;
    opacity: 0;
    padding: $navList-action-close-padding;
    transition: $navList-action-close-transition;
    visibility: hidden;

    .icon {
        @include square($navList-action-close-iconSize);
        fill: stencilColor("color-textLink");
    }

    .navList-action.is-selected:hover & {
        opacity: 1;
        visibility: visible;
    }
}


// Page Subnavigation
// -----------------------------------------------------------------------------

.navBar--sub {
    margin-bottom: spacing("single") * 3;
    text-align: center;

    @include breakpoint(mob-large down){
      margin-bottom: 20px;
    }

    .navBar-section {
        float: none;
    }

    .navBar-item {
        float: none;
        margin: 0 spacing("half");

        @include breakpoint("medium") {
            display: inline-block;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        &.is-active {
            @include breakpoint("medium") {
                border-bottom: 1px solid stencilColor("color-textBase");
            }

            > .navBar-action {
                color: color("greys", "dark");
            }
        }

        &.navBar-item--separate {
            @include breakpoint("medium") {
                border-left: 1px solid stencilColor("color-textSecondary");
                margin: 0;
                padding-left: spacing("half");
            }
        }
    }

    .navBar-action {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("base");
        padding: 0;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}



/* ==================== SIDERBAR STYLE ==================== */


.navList-action{
  color: $theme-body-font-color; padding:0px; position: relative;
  &:hover{
    color: $theme-primary-color;
  }
  &.navList-action--checkbox{
    padding-left: 25px; font-weight: 400; font-size: 14px;
  }
  &.is-selected{
    color: $theme-primary-color;
  }
}
.navList-action--checkbox{
  padding-left: 20px; font-weight: 300; font-size: 15px; margin: 0;
  &:before{
    top: 3px; margin-top: 0; @include border-radius(0); border-color: $theme-border-color;
    width: 13px; height: 13px;
  }
  &:after{
    background-position: left center; background-position: -1px 0; height: 13px; width: 13px;
  }
}
.navList-action-close{
  position: absolute; right: 0; top: 0;
}
.navList-item{
  margin-top: 12px;
  font-weight: 400;
  &:first-child{
    margin-top: 0;
  }
}
.navList-treeview{
  li{
    position: relative;
    .hitarea{
      position: absolute; width: 24px; height: 24px; text-align: center; line-height: 24px; right: 0; top: 0;
      cursor: pointer; z-index: 3; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;
            // @include breakpoint(mob-large down) {
            //   right: 12px;
            // }
      &:before{
        content: "\e965"; font-family: 'icomoon'; font-size: 13px;
        position: absolute; left: 0; top: 0; width: 100%; bottom: 0;font-weight: bold;
      }
    }
    &.collapsable{
      > .hitarea{
        &:before{
          content: "\e985"; font-family: 'icomoon'; font-size: 13px;
          position: absolute; left: 0; top: 0; width: 100%; bottom: 0;
          color: $theme-orange-color;
        }
      }
      > a{
        color: $theme-primary-color;
      }
    }
    li{
      margin-top: 8px;
      &:first-child{
        margin-top: 8px;
      }
      a{
        font-size: 14px;
        display: block;
        padding-right: 25px;
        span{
          display: none;
        }
      }
    }
    ul{
      display: none; margin-left: 10px;
    }
     a{
        text-transform: capitalize;
        display: inline-block;
        vertical-align: middle;
        padding-right: 25px;
        span{
          display: none;
        }
     }
  }
}
