{{#if product_results.products}}
    <a class="modal-close" aria-label="{{lang 'common.close'}}" data-drop-down-close role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    {{#if theme_settings.quickSearchResults "==" "quickSearchResultsStyle1"}}
    <ul class="productGrid" {{#if settings.data_tag_enabled}} data-list-name="Quick Search Results" {{/if}}>
          {{#each (limit product_results.products 5)}}
              <li class="product">
                {{> components/products/card settings=../settings alternate=true show_compare=../show_compare theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}

              </li>
          {{/each}}
      </ul>
    {{/if}}
    {{#if theme_settings.quickSearchResults "==" "quickSearchResultsStyle2"}}
    <ul class="productGrid" {{#if settings.data_tag_enabled}} data-list-name="Quick Search Results" {{/if}}>
          {{#each (limit product_results.products 5)}}
              <li class="product">
                {{> components/products/card settings=../settings alternate=true show_compare=../show_compare theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}

              </li>
          {{/each}}
      </ul>
    {{/if}}
    {{#if (length product_results.products) '>' 5}}
         <div class="view-all-btn">
             <a hre="javascript:void(0);" onclick="document.getElementById('headerQuickSearchForm').submit();" class="button view-all">View All</a>
         </div>
   {{/if}}
{{else}}
    <p class="quickSearchMessage">
        {{lang 'search.results.quick_count' count=pagination.product_results.total search_query=forms.search.query}}
    </p>
{{/if}}
