// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Container
// -----------------------------------------------------------------------------

// Images
// -----------------------------------------------------------------------------

.productView-image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px;
    border: 1px solid $theme-border-color;
    height: 600px;
    @include breakpoint(large down){
      height: 500px;
    }
    @include breakpoint(mob-small down){
      height: 350px;
    }
    @include breakpoint(mob-small down){
      height: 300px;
    }
    img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .productView-image--default {
        width: auto;
    }
    + .productView-thumbnails {
        margin-top: spacing("half");
    }
}
.productView-thumbnails-none{
  li{
    display: none;
  }
}

.productView-thumbnails {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");

    margin-left: -(spacing("quarter"));
    margin-right: -(spacing("quarter"));
}

.productView-thumbnail {
    @include grid-column(3);
    padding-left: spacing("quarter");
    padding-right: spacing("quarter");
    margin-bottom: 10px;
}

.productView-thumbnail-link {
    border: 1px solid $theme-border-color;
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1px;
    img{
      margin: 0 auto;
    }
    &:hover{
      cursor: pointer;
    }
    &:hover,
    &.is-active {
        border-color: $theme-primary-color
    }
}

.fancythumb{
  cursor: zoom-in;
  &:hover{
    cursor: zoom-in;
  }
}

.productView--quickView{
  .productView-thumbnail-link, .fancythumb{
    cursor: pointer;
    &:hover{
      cursor: pointer;
    }
  }
}
// Details
// -----------------------------------------------------------------------------

.productView-details {
  margin-bottom: spacing("single") + spacing("third");
  @include breakpoint(small down){
    margin-bottom: 0px;
  }
}
// Details - Product details
// -----------------------------------------------------------------------------

.productView-product {
  margin-bottom: 20px;
  border-bottom:1px solid $theme-border-color;
    @include breakpoint("medium") {
        padding-bottom: 20px;
    }
    @include breakpoint(mob-large down) {
        margin: 0 0 20px 0;
        padding-bottom: 10px;
    }
    > :last-child {
        margin-bottom: 0;
    }
}
.productView-title {
    font-size: 22px;
    font-weight: $font-weight-500;
    line-height: 30px;
    padding-bottom: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid $theme-border-color;
    margin-bottom: 0;
}
.productView-brand {
    color: $productView-brand-link-color;
    font-size: fontSize("smaller");
    margin-bottom: 5px;

    a {
      color: $productView-brand-link-color;
    }
}

// Details - Product price
// -----------------------------------------------------------------------------

.productView-price {
      display: inline-block;
      font-size: 20px;
      font-weight: 400;
      color: $stencil-primary-color;
      margin: 20px 0 15px;
      line-height: 24px;
      @include breakpoint(mob-large down) {
          margin: 0 0 10px 0;
          font-size: 16px;
      }

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
    .price-section.price-section--saving{
      font-size: 14px; font-weight: normal; margin-top: -10px; margin-right: 0px;
      @include breakpoint(small down){
        margin-top: 10px;
      }
    }
    .price--rrp, .price--non-sale{
      display: inline-block;
      position: relative;
      color: $theme-price-color;
    }
    .price-section{
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      @include breakpoint(large down){
        margin-right: 5px;
      }
      @include breakpoint(mob-large down){
        margin-right: 10px;
      }
      .price-now-label{
        font-size: 14px;
        color: $theme-primary-color;
        display: block;
        text-align: center;
        line-height: 14px;
        margin-bottom: 3px;
      }
      .price-now-label.rrp-price--withTax-cus{
        color: $theme-price-color;
      }
      .price-now-label.non-sale-price--withTax-cus{
        color: $theme-price-color;
      }
      .price-now-label.rrp-price--withoutTax-cus{
        color: $theme-price-color;
      }
      .price-now-label.non-sale-price--withoutTax-cus{
        color: $theme-price-color;
      }
    }




    .price-now-label{
      .price-name-label{
        color: $stencil-primary-color;
      }
    }

}

.productView-reviewLink {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    @include breakpoint(small down){
      font-size: 12px;
    }
    + .productView-reviewLink {
        display: block;
        @include breakpoint("small") {
            display: inline-block;
        }
    }
}

// Details - Product Information
// -----------------------------------------------------------------------------

.productView-info {
    @include clearfix;
    margin-top: spacing("half");
    @include breakpoint("small") {
        margin-top: 0;
    }
    > :first-child {
        @include breakpoint("small") {
            margin-top: spacing("single");
        }
    }
    > :last-child {
        margin-bottom: 0;
    }
}

.productView-info-name,
.productView-info-value {
    float: left;
    @include breakpoint("small") {
        float: none;
    }
}


.productView-info-name {
    clear: both;
    margin: 0;
    float: left;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 0;
    padding: 8px 0;
    margin-right: 15px;
    width: 100px;
    &:first-child{
      margin-top: 0;
    }
}

.productView-info-value {
    overflow: hidden;
    font-weight: normal;
    margin: 0;
    line-height: 20px;
    padding: 8px 0;
    float: left;
}

// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 2. Resetting font due to inline-block whitespace issue.
// 3. File upload button does not properly display in IE if font-size is 0
//
// -----------------------------------------------------------------------------

.productView-options {
    @include clearfix;
    margin-bottom:30px;
    text-align: center;
    position: relative;
    display: block;
    @include breakpoint("small") {
        text-align: left;
        margin-bottom: 0px;
    }
    .form{
      @include breakpoint(small down){
        margin-bottom: 0px;
      }
    }
    .form-input[type="number"] {
      padding-right: 15px;
        @include breakpoint("small") {
            width: grid-calc(4, $total-columns);
        }
    }
    .addthis_toolbox{
      clear: both;
      .facebook_like{
        .addthis_button_facebook_like{
          text-align: left !important;
        }
      }
      .socialLinks-alt{
        @include breakpoint(small down){
          margin-bottom: 0px;
        }
      }
    }
    input[type="file"] {
        font-size: fontSize("smallest"); // 3
    }
    .form-field {
        font-size: 0; // 2
        margin-bottom: 2rem;
        position: relative;
        @include breakpoint(mob-large down) {
            margin: 0 0 20px 0;
        }
        // scss-lint:disable SelectorDepth, NestingDepth
        > .form-checkbox + .form-label,
        > .form-radio + .form-label {
            display: inline-block;
            margin-left: spacing("single");
            width: auto;

            @include breakpoint("small") {
                margin-left: 0;
                width: 100%;
            }
        }
        > .form-label:nth-of-type(2) {
            margin-left: 0;
        }
        .form-select.form-select--date{
          padding: 0 30px 0 15px;
          line-height: 38px;
          @include breakpoint(mob-mid down) {
            line-height: 34px;
            background-position: right 8px top 8px;
          }
        }
        textarea{
          resize: none;
        }
    }

    .form-action {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        @include breakpoint("small") {
            padding: 0 remCalc(10);
        }
        @include breakpoint("medium") {
            padding: 0;
            width: auto;
        }
        @include breakpoint("large") {
            margin-top: 1rem;
        }
        // scss-lint:disable SelectorDepth, NestingDepth
        .button {
            width: 100%;
            @include breakpoint("large") {
                margin-right: spacing("half");
                width: auto;
            }
        }
    }
    .form-label--alternate{
      font-size: 14px;
      font-weight: 600;
    }

    .card-quantity{
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
      font-size: 0px;
      @include breakpoint(large down){
        margin: 0 10px 0 0;
      }
      @include breakpoint(small down){
        margin: 0px;
      }
      .form-field {
        display: inline-block;
        vertical-align: middle;
        margin: 0px 15px 0 0px;
        @include breakpoint(large down) {
          margin: 0 10px 0 0px;
        }
        .form-label {
          display: none;
        }
        .form-increment{
          .form-input--incrementTotal{
            float: left;
            height: 50px;
            width: 50px !important;
            font-size: 14px;
            text-align: center;
            color: $theme-light-black-color;
            border: 1px solid $theme-dark-border-color;
            border-radius: 0px;
            font-weight: 300;
            padding: 5px;
            @include breakpoint(large down) {
              width: 40px !important;
            }
            @include breakpoint(small down) {
              height: 40px;
              width: 30px !important;
              padding: 5px;
            }
          }
          .button{
            display: block;
            border: none;
            padding: 0px;
            background: transparent;
            i{
              font-size: 10px;
              line-height: 25px;
              text-align: center;
              width: 20px;
              height: 25px;
              display: block;
              border: 1px solid $theme-dark-border-color;
              color: $theme-black-color;
              cursor: pointer;
              border-radius: 0px;
              border-left: none;
              @include breakpoint(small down) {
                width: 20px;
                height: 20px;
                line-height: 20px;
              }
            }
            .icon-arrow-1-up{
              border-bottom: 0px;
            }
            &:hover{
              background: $theme-orange-color;
              i{
                color: $theme-white-color;
              }
            }
          }
        }
      }
      .form-field--increments{
        + .productAttributes-message{
          margin-top: 20px;
        }
      }
      .form-action{
        padding: 0px;
        margin: 0px 15px 0 0;
        @include breakpoint(large down) {
          margin: 0 10px 0 0px;
        }
        .button{
          padding: 18px 33px;
          line-height: 14px;
          color: $theme-white-color;
          border: none;
          font-weight: 700;
          text-transform: uppercase;
          margin: 0px;
          background: $theme-orange-color;
          @include breakpoint(large down) {
            padding: 18px 16px;
          }
          @include breakpoint(small down) {
            padding: 13px;
          }
          &:hover{
            background: $theme-black-color;
          }
          &:disabled{
            background: $theme-body-grey-color;
          }
        }
      }
    }
    .wishlist-btn.wishlist{
      .button{
        margin: 0px;
      }
    }
    .wishlist{
      display: inline-block;
      vertical-align: middle;
      .btn-none{
        display: none;
      }
      padding: 0px;
      .button{
        padding: 15px 13px;
        line-height: 11px;
        color: $theme-black-color;
        background: transparent;
        margin: 0px 15px 0 0;
        @include breakpoint(large down) {
          padding: 15px 12px;
          margin: 0px 10px 0 0;
        }
        @include breakpoint(small down) {
          padding: 11px 9px;
        }
        i{
          font-size: 18px;
          color: $theme-orange-color;
            @include breakpoint(small down) {
              font-size: 16px;
            }
        }
        &:hover{
          background: $theme-orange-color;
          i{
            color: $theme-white-color;
          }
        }
      }
      .form{
        display: inline-block;
        margin: 0px;
      }
      .form-action{
        margin: 0px;
        padding: 0px;
      }
    }
}

// Product list (with images)
// -----------------------------------------------------------------------------

.productOptions-list {
    border: 1px solid $theme-semi-border-color;
    list-style: none;
    margin: 0;
}
.productOptions-list-item {
    padding: 15px;
    + .productOptions-list-item {
        border-top: 1px solid $theme-semi-border-color;
    }
    .form-label {
        text-align: left;
        top: -2px; // 1
    }
}

.productOptions-list-item-figure {
    width: $productOptions-list-item-figure-width;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 10px 0;
}

.productOptions-list-item-content {
    padding-left: $productOptions-list-item-content-paddingLeft;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    @include breakpoint(small down){
      width: 83%;
    }
}
// Share products
// -----------------------------------------------------------------------------

.shareProduct {
    text-align: center;
}
.productView-rating{
  font-size: 13px;
  @include breakpoint(mob-large down) {
      margin: 0 0 10px 0;
  }
  i{
      color: $theme-orange-color;
  }
  &.border-bottom{
    padding: 10px 0;
    border-bottom: 1px solid $theme-border-color;
  }
}
