// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
}
.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    text-align: center;
    vertical-align: top;
    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }
    @include breakpoint("medium") {
        width: width("4/12");
    }
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}
.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("2/12");
    }
}
.footer-info-col--social {
    width: 100%;
}
.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}
.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}
// Content
// -----------------------------------------------------------------------------

/* ==================== FOOTER STYLE ==================== */

.footer{
  ul{
    margin: 0; list-style: none;
    @include breakpoint(mob-large down) {
      margin:0 0 15px 0;
      padding-left: 10px;
    }
  }
}
.page-scroll-top{
  position: fixed;
  background: $theme-black-color;
  width: 50px;
  height: 50px;
  line-height: 60px;
  right: 30px;
  text-align: center;
  bottom: 70px;
  z-index: 1;
  border: 0px;
  -webkit-box-shadow: 0 0 12px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 12px 2px rgba(0,0,0,0.1);
  box-shadow: 0 0 12px 2px rgba(0,0,0,0.1);
  @include breakpoint(large down){
    width: 40px;
    height: 40px;
    right: 20px;
    line-height: 45px;
  }
  i{
    color: $theme-white-color;
    font-size: 20px;
    font-weight: bold;
      @include breakpoint(large down){
        font-size: 16px;
      }
  }
  &:hover{
    background: $theme-primary-color;
    i{
      color: $theme-white-color;
    }
  }
}

.footer-col{
  p{
    font-size: 14px;
    color: $footer-font-color;
    font-weight: 400;
    text-transform: capitalize;
    a{
      color: $footer-font-color;
      &:hover{
        color: $theme-primary-color;
      }
    }
    a.email-id{
      text-transform: none;
    }
  }
}
.footer-store-info-block, .newsletter-form{
  .footer-info-heading {
    border: none;
    padding-bottom: 0px;
    color: $footer-info-heading-color;
    @include breakpoint(mob-mid down) {
      margin-bottom: 10px;
    }
  }
}
.footer-info-heading {
  text-transform: capitalize;
  color: $footer-info-heading-color;
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  i{
    position: absolute; right: 0; top: 0; width: 20px; height: 20px; line-height: 20px; text-align: center;top: 4px;
    font-size: 11px; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; display: none; color: $footer-info-heading-color;
    @include breakpoint(mob-large down) {
      display: block;
    }
  }
  &.active{
    color: $footer-info-heading-color;
    i{
      -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); color: $footer-info-heading-color;
    }
  }
  @include breakpoint(xlarge down) {
    margin-bottom: 20px;
  }
  @include breakpoint(mob-large down) {
    color: $theme-orange-color;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
.milano-layout--Blue{
  .footer-info-heading{
      @include breakpoint(mob-large down) {
        color: $theme-black-color;
        i{
          color: $theme-black-color;
        }
        &.active{
          color: $stencil-primary-color;
          i{
            -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); color: $stencil-primary-color;
          }
        }
      }
  }
}
.footer-info-list {
    list-style: none;
    margin: 0;
    li{
      margin-top: 10px;
      @include breakpoint(mob-small down){
        margin-top: 6px;
      }
      &:first-child{
        margin-top: 0;
      }
      a{
        line-height: 16px;
        font-size: 14px;
        color: $footer-font-color;
        font-weight: 400;
        text-transform: capitalize;
        @include breakpoint(medium down){
          font-size: 14px;
        }
        &:hover{
          color: $stencil-primary-color;
        }
      }
      &.last-list{
        a{
          font-style: italic; font-weight: 400; color: $stencil-primary-color;
          &:hover{
            color: $footer-font-color;
          }
        }
      }
    }
}
.milano-layout--Blue{
  .footer-info-list{
    li{
      &.last-list{
        a{
          font-style: normal;
        }
      }
    }
  }
  .footer-navigation-block{
    padding: 35px 0;
    border-top: 1px solid $theme-border-color;
    @include breakpoint(medium down) {
      padding: 25px 0;
    }
    @include breakpoint(mob-mid down) {
      padding: 20px 0;
    }
  }
  .usp-section-blue{
    + .footer-navigation-block{
      border-top: 0px;
    }
  }
}
.footer-navigation-block{
  background-color: $footer-background;
  padding: 50px 0;
  @include breakpoint(medium down) {
    padding: 30px 0;
  }
    @include breakpoint(mob-mid down) {
      padding: 20px 0;
    }
  @include breakpoint("xlarge") {
    .column{
      width: 20%;
    }
    .column:last-child:not(:first-child), .columns:last-child:not(:first-child){
      float: left;
    }
  }
}
.footer-copyright {
  display: inline-block; vertical-align: middle;
    .powered-by {
      margin: 0;
    }
    @include breakpoint(mob-large down) {
      text-align: center;
      width: 100%;
    }
}
.footer-copyright.psdcenter_cop{
  + .footer-copyright{
      padding-left: 15px;
      position: relative;
    &:before{
      content: "|";
      position: absolute;
      left: 4px;
    }
  }
  @include breakpoint(mob-large down) {
    text-align: center;
    width: auto;
  }
}
.footer-copyright.bigCommerce_cop{
  @include breakpoint(mob-large down) {
    text-align: center;
    width: auto;
  }
}
.store_credit{
  @include breakpoint(mob-large down) {
    text-align: center;
  }
}
.newsletter-form{
  @include breakpoint(medium down) {
    margin-top: 30px;
    .footer-info-heading{
      text-align: center;
    }
  }
    @include breakpoint(mob-large down) {
      margin-top: 20px;
    }
    .form{
      margin: 0px;
    }
    ul{
      margin: 0px;
    }
  .form-prefixPostfix{
    @if (lightness($footer-backgroundColor) > 50) {
        background:darken($footer-backgroundColor, 10% );
    } @else {
       background: lighten( $footer-backgroundColor, 10% );
    }
    padding: 3px;
      @include breakpoint(medium down) {
        width: 100%;
        margin: 0 auto;
      }
      @include breakpoint(mob-mid down) {
        width: 100%;
        margin: 0 auto;
      }
    .form-input{
      background: none;
      border: none;
      padding: 0px 8px;
      color: $footer-font-color;
      height: 32px;
      line-height: 32px;
      &::-webkit-input-placeholder {color:$footer-font-color !important; opacity:1;font-size: 13px;}
      &::-moz-placeholder {color: $footer-font-color !important;opacity:1;font-size: 13px;}
      &:-ms-input-placeholder {color: $footer-font-color !important;opacity:1;font-size: 13px;}
      &:-moz-placeholder {color: $footer-font-color !important;opacity:1;font-size: 13px;}
    }
    .button{
      background: none;
      padding:0px 9px;
      border: none;
      margin: 0px;
      height: 32px;
      line-height: 37px;
      i{
        font-size: 16px;
        color: $footer-info-heading-color;
        line-height: 22px;
      }
      &:hover{
        i{
          color: $theme-newslatter-button-color-hover;
        }
      }
    }
  }
}
.milano-layout--Blue{
  .newsletter-form{
    .form-prefixPostfix{
      .button{
        i{
          &:hover{
            color: $stencil-primary-color;
          }
        }
      }
    }
  }
  .footer-store-info-block{
    p{
      i{
        color: $stencil-primary-color;
        margin-right: 13px;
        font-size: 16px;
        @include breakpoint(xlarge down){
          font-size: 14px;
        }
        @include breakpoint(medium down){
          margin-right: 7px;
        }
      }
      span{
        width: 88%;
        @include breakpoint(medium down){
          width: 87%;
        }
      }
    }
  }
}
.footer-store-info-block{
  p{
    margin-bottom: 10px;
    @include breakpoint(mob-large down) {
      br{
        display: none;
      }
    }
    @include breakpoint(mob-mid down) {
      margin-bottom: 10px;
    }
    a{
      display: block;
    }
    i{
      margin-right: 7px; float: left; margin-top: 5px; color: $footer-font-color;
    }
    span{
       width: 90%;
       display: inline-block;
       overflow: hidden;
       vertical-align: bottom;
      @include breakpoint(medium down) {
        width: 87%;
      }
    }
    &.footer-address{
      i{
        vertical-align: middle;
      }
    }
  }
}
.footer-payment-icons {
  text-align: center;
  font-size: 0;
      @include breakpoint(mob-large down) {
        margin: 10px 0;
        text-align: center;
      }
  .footer-payment-icon {
    height: 25px; margin: spacing("quarter"); vertical-align: middle; width: 35px;
    display: inline-block; vertical-align: middle; margin: 0 5px; opacity: 0.4;
    @include breakpoint(medium down){
      height: 20px;
      width: 30px;
      margin: 0 3px;
    }
    &:hover{
      opacity: 1;
    }
    &.footer-payment-visa{
      margin-bottom: 3px;
    }
  }
  svg {
    fill: $footer-payment-icon-color;
  }
}
.milano-layout--Blue{
  .footer-bottom-block{
    .footer-bottom-block-inn{
      border-top: 1px solid $theme-light-border-color;
      padding: 20px 0;
      @include breakpoint(medium down){
        padding: 15px 0;
      }
    }
    .theme-primary-color{
      color: $theme-primary-light-color;
      font-size: 14px;
      @include breakpoint(medium down){
        font-size: 12px;
      }
    }
    .powered-by{
      color: $theme-primary-light-color;
      font-size: 14px;
      @include breakpoint(medium down){
        font-size: 12px;
      }      
    }
  }
}
.footer-bottom-block{
  background: $footer-bar-backgroundColor;
  .footer-bottom-block-inn{
    padding: 10px 0;
    border-top: 1px solid $theme-white-color;
  }
  .columns {
    padding: 0px;
  }
  .powered-by{
    font-size: 12px;
    color: $theme-body-font-color;
    font-weight: 400;
    @include breakpoint(medium down){
      font-size: 10px;
    }
    a{
      color: $theme-orange-color;
      &:hover{
        color: $theme-body-font-color;
      }
    }
  }
  .powerby-right{
    width: 100%;
    p{
      text-align: right !important;
        @include breakpoint(mob-large down) {
          text-align: center !important;
        }
    }
  }
}
.footer-logo-block{
  display: inline-block; vertical-align: middle; margin-right: 10px;
  img{
    max-height: 50px;
  }
}
.footer-geotrust-ssl-seal{
  display: inline-block;
}
.footer-newsletter-summary {
    text-align: left;
    color: $footer-font-color;
    margin-bottom: 10px;
    @include breakpoint(medium down){
      text-align: center;
    }
}
