---
customer:
    wishlists:
        limit:20
---
{{#partial "page"}}
    <section class="page">
        <main class="page-content page-content--textCenter">
            <h1 class="page-heading">{{lang 'create_account.created.heading'}}</h1>
            <p>{{{lang 'create_account.created.intro' store_name=settings.store_name email=customer.email}}}</p>
            <a class="button button--primary" href="{{create_account.continue_url}}">{{lang 'create_account.created.continue'}}</a>
        </main>
    </section>
{{/partial}}
{{> layout/base}}
