---
customer:
    wishlists:
        limit:20
---

{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{lang 'login.heading' }}</h1>
<div class="login">
    {{#if forms.login.error}}
        {{> components/common/alert-error forms.login.error}}
    {{/if}}
    {{#if forms.login.success}}
        {{> components/common/alert-success forms.login.success}}
    {{/if}}
    <div class="login-row">
      <div class="custom-row">
        <div class="column medium-6">
          <div class="login-box login-box-top">
            <div class="login-box-inner">
              <h2 class="block-title">{{lang 'login.new_customer.Login' }}</h2>
              <form class="login-form" action="{{urls.auth.check_login}}" method="post">
                  {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
                  {{inject 'enterPass' (lang 'forms.validate.common.password')}}
                  <div class="form-field">
                      <label class="form-label" for="login_email">{{lang 'login.field_email'}}<small>{{lang 'common.required' }}</small></label>
                      <input class="form-input" name="login_email" id="login_email" type="email">
                  </div>
                  <div class="form-field">
                      <label class="form-label" for="login_pass">{{lang 'login.field_password'}}<small>{{lang 'common.required' }}</small></label>
                      <input class="form-input" id="login_pass" type="password" name="login_pass">
                  </div>
                  <div class="form-actions">
                      <input type="submit" class="button button--primary" value="{{lang 'login.submit_value' }}">
                      <a class="forgot-password" href="{{urls.auth.forgot_password}}">{{lang 'login.forgot_password' }}</a>
                  </div>
              </form>
            </div>
          </div>
        </div>
      {{#if settings.account_creation_enabled}}
          <div class="column medium-6">
                <div class="login-box">
                  <div class="login-box-inner">
                    <h2 class="block-title">{{lang 'login.new_customer.heading' }}</h2>

                    <div class="new-customer">
                        <div class="panel">
                            <div class="panel-body">
                                <p class="new-customer-intro">{{lang 'login.new_customer.intro' }}</p>
                                <ul class="new-customer-fact-list list-with-arrow">
                                    <li class="new-customer-fact">{{lang 'login.new_customer.fact1' }}</li>
                                    <li class="new-customer-fact">{{lang 'login.new_customer.fact2' }}</li>
                                    <li class="new-customer-fact">{{lang 'login.new_customer.fact3' }}</li>
                                    <li class="new-customer-fact">{{lang 'login.new_customer.fact4' }}</li>
                                    <li class="new-customer-fact">{{lang 'login.new_customer.fact5' }}</li>
                                </ul>
                                <a href="{{urls.auth.create_account}}"><button class="button button--primary">{{lang 'login.new_customer.create_account' }}</button></a>
                            </div>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
      {{/if}}
      </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
