  {{#if carousel.slides}}
<div class="heroCarousel-wrap">

  <a class="heroCarousel-down-arrow one-page-scroll" title="Click to Down">
      <i class="icon-arrow-1-down"></i>
  </a>
  <div class="slider-loading-icon">
  <div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
  </div>
  </div>

  <section class="heroCarousel"
      data-slick='{
          "dots": {{#if (length carousel.slides) ">" "1"}}true{{else}}false{{/if}},
          "arrows": {{arrows}},
          "mobileFirst": true,
          "slidesToShow": 1,
          "slidesToScroll": 1,
          "adaptiveHeight": true,
          "autoplay": true,
          "autoplaySpeed": {{carousel.swap_frequency}},
          "lazyLoad": "anticipated"
      }'>
      {{#each carousel.slides}}
      {{#if url}}
      <a href="{{url}}">
          <div class="heroCarousel-slide SlideItem-{{@index}} {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
              <div class="heroCarousel-image-wrapper" {{#if image_height}}{{#if image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/if}}{{/if}}>
                  <img class="heroCarousel-image" data-lazy="{{image}}" alt="{{alt_text}}" title="{{alt_text}}"
                  {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}} />
              </div>
              {{#if heading}}
                  {{> components/carousel-content show_background=true}}
              {{else}}
                  {{#if text}}
                      {{> components/carousel-content show_background=true}}
                  {{else}}
                      {{#if button_text}}
                          {{> components/carousel-content show_background=false}}
                      {{/if}}
                  {{/if}}
              {{/if}}
          </div>
      </a>
      {{else}}
      <div class="heroCarousel-slide SlideItem-{{@index}} {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
          <div class="heroCarousel-image-wrapper" {{#if image_height}}{{#if image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw"{{/if}}{{/if}}>
              <img class="heroCarousel-image" data-lazy="{{image}}" alt="{{alt_text}}" title="{{alt_text}}"
              {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}} />
          </div>
          {{#if heading}}
              {{> components/carousel-content show_background=true}}
          {{else}}
              {{#if text}}
                  {{> components/carousel-content show_background=true}}
              {{else}}
                  {{#if button_text}}
                      {{> components/carousel-content show_background=false}}
                  {{/if}}
              {{/if}}
          {{/if}}
      </div>
      {{/if}}
      {{/each}}
  </section>
</div>
{{/if}}


<div id="trim-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active trim1">
      
    </div>
    <div class="item trim2">
      
    </div>
    <div class="item trim3">
        
    </div>
  </div>
</div>



<div class="deals-cont">
    <div class="deal-one">
        <h4>Quick Delivery</h4>
        <p>All orders will ship within 2 business days!</p>
        <a href="#"><span class="arrow">&rsaquo;</span> Learn More</a>
    </div>
    <div class="deal-two">
        <h4>GIFT CARDS</h4>
        <p>Perfect for any occasion, quality guaranteed.</p>
        <a href="#"><span class="arrow">&rsaquo;</span> Purchase Now!</a>
    </div>
</div>
<div class="styles-grid">
    <div class="row">
        <div class="grid-links">
            <a href="#">Men's</a>
            <a href="#">Women's</a>
            <a href="#">Children's</a>
            <a href="#">Pets</a>
        </div>
    </div>
    <div class="row">
        <div class="style">
            <a href="/vests/">
            <div class="style-img">
                <img src="/content/vests-img.jpg">
                <div class="overlay vests">
                </div>
            </div>
            </a>
        </div>
        <div class="style dbl">
            <a href="/jackets/">
            <div class="style-img">
                <img src="/content/jackets-img.jpg">
                <div class="overlay jackets"> 
                </div>
            </div>
            </a>
            <a href="/hats/">
            <div class="style-img">
                <img src="/content/hats-img.jpg">
                <div class="overlay hats"> 
                </div>
            </div>
            </a>
        </div>
        <div class="style">
            <a href="/hoodies">
            <div class="style-img">
                <img src="/content/hoodies-img.jpg">
                <div class="overlay hoodies">
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row">
         <div class="style dbl-horz">
            <a href="/accessories">
            <div class="style-img">
                <img src="/content/accessories-img.jpg">
                <div class="overlay accessories">
                </div>
            </div>
            </a>
        </div>
         <div class="style">
            <a href="/pets">
            <div class="style-img">
                <img src="/content/pets-img.jpg">
                <div class="overlay pets">
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<div class="styles-grid mobile-only">
    <div class="row">
        <div class="style">
            <a href="/vests">
            <div class="style-img">
                <img src="/content/vests-img.jpg">
                <div class="overlay vests">
                </div>
            </div>
            </a>
        </div>
        <div class="style">
            <a href="/hoodies">
            <div class="style-img">
                <img src="/content/hoodies-img.jpg">
                <div class="overlay hoodies">
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row">
        <a href="/jackets">
        <div class="style-img">
            <img src="/content/jackets-img.jpg">
            <div class="overlay jackets"> 
            </div>
        </div>
        </a>
        <a href="/hats">
        <div class="style-img">
            <img src="/content/hats-img.jpg">
            <div class="overlay hats"> 
            </div>
        </div>
        </a>
        <a href="/pets">
        <div class="style-img">
            <img src="/content/pets-img.jpg">
            <div class="overlay pets">
            </div>
        </div>
        </a>
    </div>
    <div class="row">
        <a href="/accessories">
        <div class="style-img">
            <img src="/content/accessories-img.jpg">
            <div class="overlay accessories">
            </div>
        </div>
        </a>
    </div>
</div>
<div class="three-fset">
    <div class="item high-tech">
        <div class="link-overlay">
            <a href="#">High Tech Fabrics</a>
        </div>
    </div>
    <div class="item artists">
        <div class="link-overlay">
            <a href="#">Artists & Trims</a>
        </div>
    </div>
    <div class="item photos">
        <div class="link-overlay">
            <a href="#">Photo Gallery</a>
        </div>
    </div>
</div>

<div class="bottom-fset">
    <div class="text-overlay">
        <h4>The Copper River Fleece Story</h4>
        <p>Originating as a custom garment operation out of the owner's apartment, Copper River Fleece has grown into a company that outfits locally, nationally and world wide. </p>
        <a href="#" class="btn btn-orange">Learn More</a>
    </div>
    <div class="image-overlay">
        <img src="/content/bottom-fset-img.png">
    </div>
</div>
