// =============================================================================
// ACCORDION (CSS)
// =============================================================================


.accordion {
    border-radius: $accordion-borderRadius;
    box-shadow: none;

    .navList {
        margin-bottom: 0;
    }
}

.accordion-content, .sidebar-toggle-content{
    border: 0;
    margin-top: 15px;
    @include breakpoint(mob-large down){
      display: none;
    }

    .form:only-child {
        margin-bottom: 0;
    }
}

.accordion-title {
    margin: 0;
}

.accordion-navigation {
    margin-top: -1px;
    position: relative;
    text-decoration: none;
}


// Accordion nav list
// -----------------------------------------------------------------------------
//
// Purpose: Used as navigation menu, for example: faceted search menu.
//
// -----------------------------------------------------------------------------
.accordion--navList, .sidebar-toggle-title {
    @include breakpoint("medium") {
        border: 0;
    }

    .sidebarBlock + & {
        @include breakpoint("medium") {
            margin-top: $accordion-navList-spacing;
        }
    }

    .accordion-block {
        @include breakpoint("medium") {
            margin-top: $accordion-navList-spacing;
        }
    }

    .accordion-content {
        padding: 0;

        @include breakpoint("medium") {
            padding: 0;
        }
    }

    .accordion-navigation {
        @include breakpoint("medium") {
            background-position: right 0 top 50%;
            border: 0;
        }
    }

    // .accordion-title {
    //     font-weight: normal;
    //     padding: $accordion-navList-padding;
    //     text-decoration: none;
    //     text-transform: inherit;
    //
    //     @include breakpoint("medium") {
    //         margin-bottom: spacing("half");
    //         margin-top: 0;
    //         padding: 0;
    //     }
    // }

    .accordion-indicator {
        fill: color("greys", "light");

        @include breakpoint("medium") {
            visibility: hidden;
        }
    }

    .accordion-navigation-actions {
        right: 2px;
        top: 0;
        display: inline-block;
        vertical-align: middle;
        @include breakpoint("medium") {
            right: 0;
            top: 0;
        }
    }
}


// Accordion block
// -----------------------------------------------------------------------------
//
// Purpose: Child blocks of an accordion
//
// -----------------------------------------------------------------------------
.accordion-block:first-child {
    margin-top: 0;

    .accordion-navigation {
        border-radius: $accordion-borderRadius $accordion-borderRadius 0 0;
    }
}

.accordion-block:last-child {
    .accordion-navigation,
    .accordion-content {
        border-radius: 0 0 $accordion-borderRadius $accordion-borderRadius;
    }

    .accordion-navigation {
        border-bottom-width: 0;

        // scss-lint:disable NestingDepth
        &.is-open {
            border-bottom-width: 1px;
            border-radius: 0;
        }
    }
}



// Accordion navigation actions
// -----------------------------------------------------------------------------
//
// Purpose: Action links, usually aligned to the right of .accordion-navigation
//
// -----------------------------------------------------------------------------
.accordion-navigation-actions {
    position: absolute;
    right: $accordion-navigation-paddingHorizontal;
    top: $accordion-navigation-paddingVertical;

    > a {
        color: $theme-body-font-color;
        vertical-align: middle;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $theme-primary-color;
        }
        // scss-lint:enable NestingDepth
    }
}



.accordion-navigation-actions{
  line-height: 18px;
  i{
    line-height: 18px; color: $theme-black-color; font-size: 12px; width: 18px; height: 18px; text-align: center;
    display: inline-block; vertical-align: top; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;
    -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); font-weight: bold;
  }
}
.accordion-navigation{
  &.is-open{
    .accordion-navigation-actions{
      i{
        -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);
      }
    }
  }
}
.sidebar-toggle-title{
  position: relative;
  i{
    line-height: 30px; color: $theme-black-color; font-size: 12px; width: 20px; height: 20px; text-align: center;
    display: inline-block; vertical-align: top; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;
    right: 0; top: 0;  display: none;
    @include breakpoint(mob-large down){
      display:block;
      line-height: 20px;
    }
  }
  &.active, .sidebar-toggle-title.active{
    i{
      -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);
    }
  }
}
