<div class="category-filter-block clearfix m-b-10">
  {{> components/common/paginator pagination.brand}}
  <div class="float-right">
    {{> components/products/filter sort=pagination.brand.sort}}
  </div>
</div>

<div class="product-view-mode">
  <form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Brand: {{brand.name}}" {{/if}} data-product-compare>
      {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{> components/products/grid products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
      {{else}}
        {{> components/products/list products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
      {{/if}}
  </form>
</div>

{{> components/common/paginator pagination.brand}}
