<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ reso.urceHints }}}
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <script>
            // Change document class from no-js to js so we can detect this in css
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
        {{ getFontsCollection }}
        {{{stylesheet '/assets/css/theme.css'}}}

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{inject 'secureBaseUrl' settings.secure_base_url}}
        {{inject 'cartId' cart_id}}        
        {{inject 'template' template}}
        {{{snippet 'htmlhead'}}}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>

    <body class="type-{{page_type}} milano-layout--{{theme_settings.layout}}">
        {{{snippet 'header'}}}
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{#and settings.privacy_cookie settings.is_eu_ip_address}}
            {{> components/common/cookie}}
        {{/and}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
            
        </script>
<script>
    $('.menu').on('click', function(e) {
        e.preventDefault();
        $('.nav').fadeIn();
        $('.overlay').show();
        $('.second-tier').removeClass('transform');
        $('.third-tier').removeClass('transform');
        $('.has-submenu').removeClass('active');
        $('.has-submenu-two').removeClass('active');
    });

    $('.close-btn').on('click', function(e) {
        e.preventDefault();
        $('.nav').fadeOut(200);
        $('.overlay').hide();
    });

    $('.overlay').on('click', function(e) {
        e.preventDefault();
        $('.nav').fadeOut(200);
        $('.overlay').hide();
    });

    $(".has-submenu").mouseenter(function() {
        $(this).removeClass('active');
        $(this).addClass('active');
        $('.second-tier').removeClass('transform');
        $('.third-tier').removeClass('transform');
        $(this).next(".second-tier").addClass('transform');
    }).mouseleave(function() {
        $(this).removeClass('active');
    });

    $(".has-submenu-two").mouseenter(function() {
        $(this).removeClass('active');
        $(this).addClass('active');
        $('.third-tier').removeClass('transform');
        $(this).next(".third-tier").addClass('transform');
    }).mouseleave(function() {
        $(this).removeClass('active');
    });

    $(".second-tier").mouseleave(function() {
		$(this).removeClass('transform');
        $(this).prev('.has-submenu').removeClass('active');
	}).mouseenter(function() {
        $('.transform').prev('.has-submenu').addClass('active');
    });

    $(".third-tier").mouseleave(function() {
        $(this).removeClass('transform');
        $(this).prev('.has-submenu-two').removeClass('active');
    }).mouseenter(function() {
        $('.transform').prev('.has-submenu-two').addClass('active');
    });

    $(".no-submenu").mouseenter(function() {
        $('.second-tier').removeClass('transform');
    });

    $(".no-submenu-two").mouseenter(function() {
        $('.third-tier').removeClass('transform');
    });
</script>
        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
    </body>
</html>
