<article class="card {{#if alternate}}card--alternate{{/if}} clearfix"  {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"  {{/if}}>

    <figure class="card-figure">
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side">
                    <span>Sale</span>
                </div>
            {{/if}}
        {{/or}}


        {{#if demo}}
            <div class="card-img-container">
                <img class="card-image" src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            </div>
        {{else}}
          <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
            <div class="card-img-container">
            {{#if images.length '>' 1}}
              {{#if relateditems '!=' 'related'}}
                {{#each (limit images 2) }}
                  {{images.length}}
                    <img class="card-image item-{{@index}}" src="{{getImage this 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                {{/each}}
                {{else}}
                <img class="card-image" src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                {{/if}}
            {{else}}
              <img class="card-image" src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            {{/if}}
          </div>
          </a>
          {{/if}}
    </figure>

      <div class="card-body clearfix">
        <div class="brandName">
          {{#if brand.name}}
              <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
          {{/if}}
        </div>
          <h4 class="card-title">
              {{#if demo}}
                  {{name}}
              {{else}}
                  <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
              {{/if}}
          </h4>

          {{#if show_rating}}
            <p class="card-rate" data-test-info-type="productRating">
              <span class="rating--small">
                  {{> components/products/ratings rating=rating}}
              </span>
            </p>
          {{/if}}

          {{#if summary}}
              <p class="card-summary">{{{summary}}}</p>
          {{/if}}

          <div class="card-price" data-test-info-type="price">
              {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                  {{> components/products/price price=price}}
              {{else}}
                  {{> components/common/login-for-pricing}}
              {{/or}}
          </div>

          <div class="card-btn">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{#if show_cart_action}}
                    {{#if has_options}}
                        <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                    {{/if}}
                    {{#if pre_order}}
                        <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button">{{lang 'products.pre_order'}}</a>
                    {{/if}}
                    {{#if add_to_cart_url }}
                        <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button">{{lang 'products.add_to_cart'}}</a>
                    {{/if}}
                    {{#if out_of_stock_message }}
                        <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                    {{/if}}
                {{/if}}
            {{/or}}
          </div>
          {{> components/products/bulk-discount-rates}}
      </div>



</article>
