<article class="card {{#if alternate}} card--alternate{{/if}} clearfix"  {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"  {{/if}}>
  <div class="card-inner">
    <figure class="card-figure">
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side">
                    <span>Sale</span>
                </div>
            {{/if}}
        {{/or}}


        {{#if demo}}
            <div class="card-img-container">
                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            </div>
        {{else}}
          <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
            <div class="card-img-container">
              {{#if image}}
                <img class="card-image {{#if images.length '>' 1}}item-0{{/if}} lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
              {{else}}
                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
              {{/if}}

              {{#if images.length '>' 1}}
                {{#if relateditems '!=' 'related'}}   
                    {{#if (stripQuerystring (getImage images.[0] 'productgallery_size' (cdn theme_settings.default_image_product))) '!=' (stripQuerystring (getImage image 'productgallery_size' (cdn theme_settings.default_image_product)))}}
                        <img b data-src="{{getImage images.[0] 'productgallery_size' (cdn theme_settings.default_image_product)}}" class="card-image item-1 lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" alt="{{this.alt}}" title="{{this.alt}}">
                    {{else}}
                        <img a data-src="{{getImage images.[1] 'productgallery_size' (cdn theme_settings.default_image_product)}}" class="card-image item-1 lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" alt="{{this.alt}}" title="{{this.alt}}">
                    {{/if}}
                {{/if}} 
              {{/if}}
           
            </div>
          </a>
          {{/if}}
        <figcaption class="card-figcaption">
            <div class="card-figcaption-body">
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        {{#unless demo}}
                        {{#if settings.data_tag_enabled}}
                            <a href="#" class="button button--small card-figcaption-button quickview" data-event-type="product-click" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                        {{else}}
                            <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                        {{/if}}
                        {{/unless}}
                    {{/if}}
                {{/unless}}

                {{#if theme_settings.EnableProductCompare}}
                  <div>
                    <a data-tooltip class="button button--small card-figcaption-button compare-box button card-button compare" for="compare-{{id}}" data-compare-id="{{id}}"><span>{{lang 'common.compare'}}</span></a>
                  </div>
                {{/if}}
            </div>
        </figcaption>
    </figure>
  {{#if theme_settings.cardstyle "==" "cardstyle1"}}
      <div class="card-body clearfix">
        <div class="brandName">
          {{#if brand.name}}
              <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
          {{/if}}
        </div>
          <h4 class="card-title">
              {{#if demo}}
                  {{name}}
              {{else}}
                  <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
              {{/if}}
          </h4>

          {{#if show_rating}}
            <p class="card-rate" data-test-info-type="productRating">
              <span class="rating--small">
                  {{> components/products/ratings rating=rating}}
              </span>
            </p>
          {{/if}}

          <p class="card-summary">
            {{#if summary}}{{{ellipsis summary 100}}}{{/if}}
          </p>

          <div class="card-price" data-test-info-type="price">
              {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                  {{> components/products/price price=price}}
              {{else}}
                  {{> components/common/login-for-pricing}}
              {{/or}}
          </div>

          <div class="card-btn">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{#if show_cart_action}}
                    {{#if has_options}}
                        <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                    {{/if}}
                    {{#if pre_order}}
                        <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button">{{lang 'products.pre_order'}}</a>
                    {{/if}}
                    {{#if add_to_cart_url }}
                        <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button">{{lang 'products.add_to_cart'}}</a>
                    {{/if}}
                    {{#if out_of_stock_message }}
                        <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                    {{/if}}
                {{/if}}
            {{/or}}
          </div>
          {{> components/products/bulk-discount-rates}}
      </div>
  {{/if}}

  {{#if theme_settings.cardstyle "==" "cardstyle2"}}
  <div class="card-body clearfix">
    <div class="brandName">
      {{#if brand.name}}
      <p class="card-text" data-test-info-type="brandName">
        {{brand.name}}
      </p>
      {{else}}
      &nbsp;
      {{/if}}
    </div>

    <div class="card-reting-price clearfix">
      <div class="card-price" data-test-info-type="price">
          {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            {{> components/products/price price=price}}
          {{else}}
              {{> components/common/login-for-pricing}}
          {{/or}}
      </div>
      {{#if show_rating}}
        <p class="card-rate" data-test-info-type="productRating">
          <span class="rating--small">
              {{> components/products/ratings rating=rating}}
          </span>
        </p>
      {{/if}}
    </div>

      <h4 class="card-title">
          {{#if demo}}
              {{name}}
          {{else}}
              <a href="{{url}}">{{name}}</a>
          {{/if}}
      </h4>
        <p class="card-summary">
          {{#if summary}}{{{ellipsis summary 100}}}{{/if}}
        </p>
      <div class="card-btn">
        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            {{#if show_cart_action}}
                {{#if has_options}}
                    <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                {{/if}}
                {{#if pre_order}}
                    <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button">{{lang 'products.pre_order'}}</a>
                {{/if}}
                {{#if add_to_cart_url }}
                    <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button">{{lang 'products.add_to_cart'}}</a>
                {{/if}}
                {{#if out_of_stock_message }}
                    <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                {{/if}}
            {{/if}}
        {{/or}}
      </div>
      {{> components/products/bulk-discount-rates}}
  </div>
  {{/if}}
  </div>
</article>
