<p class="productView-title">{{lang 'products.description'}}</p>
<div class="productView-description" {{#if settings.data_tag_enabled}} data-event-type="product" {{/if}}>
    {{{product.description}}}
    {{{snippet 'product_description'}}}
</div>

{{#if product.warranty}}
    <p class="productView-title">{{lang 'products.warranty'}}</p>
    <div class="productView-description" {{#if settings.data_tag_enabled}} data-event-type="product" {{/if}}>
        {{{product.warranty}}}
    </div>
{{/if}}
