<div class="productView-section clearfix" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
    {{#each product.reviews.messages}}
        {{#if error}}
        <div class="clearfix">
          <div class="column">
            {{> components/common/alert-error error}}
          </div>
        </div>
        {{/if}}
        {{#if success}}
        <div class="clearfix">
          <div class="column">
            {{> components/common/alert-success success}}
          </div>
        </div>
        {{/if}}
    {{/each}}

    <div class="product-view-wrap productView">
      <section class="productView-images" data-image-gallery style="position: relative;">
            {{#if product.main_image}}
               <a class="fancythumb" rel="gallery" href="javascript:void(0);">
             {{/if}}
           <figure class="productView-image m-b-20"
                   data-image-gallery-main
                   {{#if product.main_image}}
                   data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
                   {{/if}}>
                   <img class="productView-image--default lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
                        alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
           </figure>
        {{#if product.main_image}}
           </a>
        {{/if}}
         <ul class="productView-thumbnails {{#gt product.images.length 4}}productView-thumbnails-none{{/gt}}" data-main-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"{{#gt product.images.length 4}} data-slick='{
                     "arrow":true,
                    "infinite": false,
                    "mobileFirst": true,
                    "slidesToShow": 5,
                    "slidesToScroll": 1,
                    "responsive": [
                        {
                            "breakpoint": 1440,
                            "settings": {
                                "slidesToScroll": 1,
                                "slidesToShow": 5
                            }
                        },
                        {
                            "breakpoint": 1279,
                            "settings": {
                              "slidesToScroll": 1,
                              "slidesToShow": 5
                            }
                        },
                        {
                            "breakpoint": 1023,
                            "settings": {
                              "slidesToScroll": 1,
                              "slidesToShow": 5
                            }
                        },
                        {
                            "breakpoint": 767,
                            "settings": {
                              "slidesToScroll": 1,
                              "slidesToShow": 5
                            }
                        },
                        {
                            "breakpoint": 666,
                            "settings": {
                              "slidesToScroll": 1,
                              "slidesToShow": 5
                            }
                        },
                        {
                            "breakpoint": 567,
                            "settings": {
                              "slidesToScroll": 1,
                              "slidesToShow": 5
                            }
                        },
                        {
                            "breakpoint": 479,
                            "settings": {
                              "slidesToScroll": 1,
                              "slidesToShow": 5
                            }
                        },
                        {
                            "breakpoint": 319,
                            "settings": {
                              "slidesToScroll": 2,
                              "slidesToShow": 3
                            }
                        }
                    ]
                }'{{/gt}}>
               {{#each product.images}}
                   <li class="" data-thumb-zoom-image="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                       <a rel="gallery" {{#if ../schema}}data-fancybox="gallery"{{/if}}
                           data-fancybox-href="{{getImage this (cdn ../theme_settings.default_image_product)}}"
                           class="productView-thumbnail-link {{#if (stripQuerystring (getImage ../product.main_image 'product_size' (cdn ../theme_settings.default_image_product))) '==' (stripQuerystring (getImage this 'product_size' (cdn ../theme_settings.default_image_product))) }}is-active is-main{{/if}}"
                           href="{{#if ../schema}}{{getImage this (cdn ../theme_settings.default_image_product)}}{{else}}javascript:void(0);{{/if}}"
                           data-image-gallery-item
                           data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                           data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}" data-caption="<h3>{{../product.title}}</h3><p>{{#if ../product.title '==' this.alt}}{{else}}{{this.alt}}{{/if}}</p>">
                           <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'productview_thumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                       </a>
                   </li>
               {{/each}}
           </ul>
       </section>

      <section class="productView-details">
          <div class="productView-product">
            {{#if product.brand}}
                <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                    <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
                </h2>
            {{/if}}
            <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
              {{#if product.call_for_price}}
                  <p class="productView-price call-for-price">
                    <strong>Call for Price :</strong>
                    <span class="icon-call-hold"></span><span>{{product.call_for_price}}</span>
                  </p>
              {{/if}}

              <div class="productView-rating {{#if settings.show_product_rating}}border-bottom{{/if}} {{#if settings.show_product_reviews}}border-bottom{{/if}}"{{#if product.num_reviews '>' 0}}{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}{{/if}}>
                    {{#if settings.show_product_rating}}
                          {{#if product.num_reviews '>' 0}}
                            {{#if schema}}
                                <meta itemprop="ratingValue" content="{{product.rating}}">
                                <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                                <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                            {{/if}}
                        {{/if}}
                        {{> components/products/ratings rating=product.rating}}
                        <span class="productView-reviewLink m-l-15 m-r-15">
                            {{#if product.num_reviews '>' 0}}
                                <a href="{{product.url}}#product-reviews">
                                    {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                </a>
                            {{else}}
                                  {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            {{/if}}
                        </span>
                    {{/if}}
                    {{#if settings.show_product_reviews}}
                        <span class="productView-reviewLink">
                            <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                               {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                               {{lang 'products.reviews.new'}}
                            </a>
                        </span>
                        {{> components/products/modals/writeReview}}
                    {{/if}}
                </div>

              <div class="productView-price">
                  {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                      {{> components/products/price price=product.price schema_org=schema}}
                  {{else}}
                      {{> components/common/login-for-pricing}}
                  {{/or}}
              </div>

              {{{region name="product_below_price"}}}

              {{product.detail_messages}}
              <dl class="productView-info clearfix">
                  <dt class="productView-info-name sku-label"{{#unless product.sku}} style="display: none;"{{/unless}}>{{lang 'products.sku'}}</dt>
                  <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
                  <dt class="productView-info-name upc-label"{{#unless product.upc}} style="display: none;"{{/unless}}>{{lang 'products.upc'}}</dt>
                  <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                  {{#if product.condition}}
                      <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                      <dd class="productView-info-value">{{product.condition}}</dd>
                  {{/if}}
                  {{#if product.availability}}
                      <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                      <dd class="productView-info-value">{{product.availability}}</dd>
                  {{/if}}
                  {{#if product.weight}}
                      <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                      <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                  {{/if}}
                  {{#if product.min_purchase_quantity}}
                      <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                      <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                  {{/if}}
                  {{#if product.max_purchase_quantity}}
                      <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                      <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                  {{/if}}
                  {{#if product.gift_wrapping_available}}
                      <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                      <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                  {{/if}}
                  {{#if product.shipping}}
                      {{#if product.shipping.calculated}}
                          <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                          <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                      {{else}}
                          {{#if product.shipping.price.value '===' 0}}
                              <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                              <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                          {{else}}
                              <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                              <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                          {{/if}}
                      {{/if}}
                  {{/if}}
                  {{#if settings.bulk_discount_enabled}}
                    <div class="productView-info-bulkPricing clearfix">
                      {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                    </div>
                  {{/if}}

                  {{#each product.custom_fields}}
                      <dt class="productView-info-name">{{name}}:</dt>
                      <dd class="productView-info-value">{{{value}}}</dd>
                  {{/each}}
              </dl>
          </div>

              <div class="productView-options clearfix">
                  {{#if product.release_date }}
                      <p>{{product.release_date}}</p>
                  {{/if}}
                  <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                        data-cart-item-add>
                      <input type="hidden" name="action" value="add">
                      <input type="hidden" name="product_id" value="{{product.id}}"/>
                          {{#each product.customizations}}
                              {{{dynamicComponent 'components/products/customizations'}}}
                          {{/each}}
                      <div data-product-option-change style="display:none;">
                          {{#each product.options}}
                              {{{dynamicComponent 'components/products/options'}}}
                          {{/each}}
                      </div>
                      {{#if product.event_date}}
                          {{> components/products/event-date}}
                      {{/if}}
                      <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                          <label class="form-label form-label--alternate">
                              {{lang 'products.current_stock'}}
                              <span data-product-stock>{{product.stock_level}}</span>
                          </label>
                      </div>

                      <div class="card-quantity">
                        {{#if product.can_purchase}}
                            {{> components/products/add-to-cart}}
                        {{/if}}

                        {{#if product.out_of_stock}}
                            {{#if product.out_of_stock_message}}
                                {{> components/common/alert-error product.out_of_stock_message}}
                            {{else}}
                                {{> components/common/alert-error (lang 'products.sold_out')}}
                            {{/if}}
                        {{/if}}

                        {{#if theme_settings.EnableProductCompare}}
                          <div class="wishlist">
                            <div class="productView-compare">
                              <a data-tooltip class="button compare card-button compare-box card-figcaption-button" for="compare-{{product.id}}" data-compare-id="{{product.id}}"><i class="icon-shuffle"></i></a>
                            </div>
                          </div>
                        {{/if}}
                        {{#if settings.show_wishlist}}
                          <div class="wishlist wishlist-btn">
                              <button class="button" type="button"   {{#if customer}} data-reveal-id="{{#if schema}}WishlistModal{{else}}QuickViewWishlistModal{{/if}}"{{else}}onclick="location.href='{{urls.auth.login}}';"{{/if}} name="button"><i class="icon-heart"></i></button>
                          </div>
                        {{/if}}
                      </div>

                        {{> components/common/share postURL=(encodeURI product.url)}}
                  </form>
              {{#if settings.show_wishlist}}
              <div id="{{#if schema}}WishlistModal{{else}}QuickViewWishlistModal{{/if}}" class="modal" data-reveal>
                  <div class="modal-header">
                      <h2 class="modal-header-title">Add to Wishlist</h2>
                      <a href="#" class="modal-close" aria-label="Close"><span aria-hidden="true">&#215;</span></a>
                  </div>
                  {{> components/products/wishlist-modal}}
              </div>
              {{/if}}
            </div>
              {{{snippet 'product_details'}}}

      </section>

      <article class="productView-description m-t-30"{{#if schema}} itemprop="description"{{/if}}>
        <div class="productView-description-inn">
          {{#if theme_settings.show_product_details_tabs}}
              {{> components/products/description-tabs}}
            {{else}}
            {{> components/products/description}}
          {{/if}}
        </div>
      </article>
    </div>

    <div class="product-side-bar">
      {{#if theme_settings.show_usp '!=' 0}}
        <div class="usp-section">
            {{> components/common/service-section }}
        </div>
      {{/if}}
        {{#if product.related_products}}
            {{> components/products/related-section}}
        {{/if}}
    </div>

</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
